[2014-09-30 12:10] michel-kraemer opened #39 "Disable authentication globally"
Is it possible to disable authentication for the whole application by setting a certain configuration value or something like that? For example, if you want to do integration tests?

Thanks,
Michel

[2014-11-29 11:48] pycloux opened #42 "New release of play pac4j ?"
Hi Jérome,
Please do you intend to release the play-pac4j ?
We are to release a new version of our software (probably next week) and we'd like to know if we should stick to the current RC1 or if a new one will be released.
Best regards,
PYC

[2014-12-31 09:15] miremond opened #43 "refactor Config using pac4j-core"

[2015-01-02 08:54] miremond commented on #43
82cf814d678f78cada9f662a33ec90332db3115b

[2015-01-02 08:54] #43 closed

[2015-01-02 08:55] miremond opened #45 "Manage stateless authentication"
Using a `stateless` parameter.

[2015-02-10 16:18] huhonator opened #49 "Dependency problem"
I was using this version of play-pac4j

"org.pac4j" % "play-pac4j_java" % "1.1.1",
      "org.pac4j" % "pac4j-http" % "1.4.2-SNAPSHOT",
      "org.pac4j" % "pac4j-cas" % "1.4.2-SNAPSHOT",
      "org.pac4j" % "pac4j-oauth" % "1.4.2-SNAPSHOT"

on project one year ago. Now I got back, checked out the repo and getting this error during the build:

`sbt.PlayExceptions$CompilationException: Compilation

[2015-02-11 09:22] leleuj commented on #49
v1.1.1 is an old one which works with the v1.4.1 of pac4j. Replace the 1.4.2-SNAPSHOT (which is the next development iteration and may be different) with the 1.4.1.

[2015-02-11 09:41] huhonator commented on #49
at first, thank you for your response. Now I am getting this:

` [info] Compiling 50 Scala sources and 121 Java sources to .../target/scala-2.10/classes...
[warn] .../conf/routes:25: unreachable code
[warn] POST        /callback                                      org.pac4j.play.CallbackController.callback()
[warn] there were 2 feature warnings; re-run with -feature for details
[warn] two warning

[2015-02-11 13:57] leleuj commented on #49
Are you trying to build pac4j or your own application?

[2015-02-11 14:45] huhonator commented on #49
my own, using pac4j as a dependency

[2015-03-03 08:38] huhonator commented on #49
any other advice @leleuj ?

[2015-03-03 09:02] leleuj commented on #49
I've never encountered this error. Very strange! Does it work without ```pac4j``` ?

[2015-03-04 13:51] leleuj commented on #49
One more thing: what version of Play do you use?

[2015-03-05 09:42] huhonator commented on #49
2.1.1

[2015-03-05 09:53] leleuj commented on #49
Indeed, for Play 2.1.x, you need to use the ```play-pac4j_java``` version 1.1.x.

Can you try to upgrade to the last one: ```play-pac4j``` v1.1.4 and ```pac4j``` v1.6?

[2015-03-05 10:04] huhonator commented on #49
I tried it before, but I think something must changed in that version, because I am getting another error. Wait a sec, i will paste an error stack with new versions of dependency

[2015-03-05 10:18] huhonator commented on #49
[warn] .../conf/routes:25: unreachable code
[warn] POST        /callback                                      org.pac4j.play.CallbackController.callback()
[warn] there were 2 feature warnings; re-run with -feature for details
[warn] two warnings found
[error] Error: Could not find or load main class @.tmp.sbt_e2225c06.argfile
[error] (compile:compile) javac returned nonzero exit code
[error] appli

[2015-03-28 10:09] jiangzhe opened #51 "CAS response with utf-8 encoding"
I've got a problem that CAS response XML encoded in utf-8 can not be correctly parsed. Is there a way to make the cas client to use specific encoding (e.g. utf-8) for parsing result?
I checked the jasig library used for CAS validation has setEncoding method. Is it ok to pass the encoding after creating the CasClient?

[2015-03-30 09:06] leleuj commented on #51
The `setEncoding` method is not exposed in the pac4j `CasClient`. Either you set the encoding at the JVM level and it fixes the problem or you can propose a PR to add this encoding method in pac4j. Thx

[2015-04-19 15:36] eagelberg opened #55 "how to unit test controller annotated with RequiersAuthentication"
hi,
i'm using play-pac4j with play framework 2.3 and i want to write unit test for my controller using the fakeRequest of play. but in the fake request he cant connect to my cas server.
Is there a way around this?

[2015-04-20 07:29] anishdevasia opened #56 "Saml2Profile is not populating roles."
When integrated with SAML provider profile is not loading roles given by the provider.

[2015-04-20 10:50] leleuj commented on #55
The core behaviour of `pac4j` is to send the user to a CAS server (or whatever identity provider you use) and authenticates him with the returned credentials. If you want to simulate this part, the best way is to create your own implementation of https://github.com/pac4j/pac4j/blob/master/pac4j-core/src/main/java/org/pac4j/core/client/Client.java with the expected behaviour.

[2015-04-20 10:58] leleuj commented on #56
It should work. The `BaseClient` has the `getUserProfile` method which relies on the `retrieveUserProfile`method: https://github.com/pac4j/pac4j/blob/master/pac4j-core/src/main/java/org/pac4j/core/client/BaseClient.java#L234 and computes the roles according to the provided authorization generators. The `Saml2Client` only implements the `retrieveUserProfile` method.

Would you mind providing me wit

[2015-04-21 21:04] nateww opened #57 "Documentation states that 1.4.0 is the latest Java release, but it hasn't been built/pushed to the Maven repo"
The documentation states that 1.4.0 is the latest release, but it doesn't exist:

http://mvnrepository.com/artifact/org.pac4j/play-pac4j_java

Can you either update the documentation to use the 1.3.0 release, or push up a new release?

[2015-04-22 07:42] leleuj commented on #57
I'm on my way for the new release...

[2015-04-23 18:21] nateww commented on #57
I still don't see 1.4.0 on the mvn repo above, and I noticed you announced the release on the play mailing lists...

[2015-04-24 07:09] leleuj commented on #57
Yes, it is on repo1.maven.org
http://search.maven.org/#search%7Cga%7C1%7Cplay-pac4j
Le 23 avr. 2015 20:21, "Nate" <notifications@github.com> a écrit :

[2015-04-24 15:36] nateww commented on #57
My apologies, I assumed it would show up on the URL above.  Thanks for doing this!

[2015-04-24 15:36] #57 closed

[2015-04-27 10:45] leleuj commented on #57
No problem.

[2015-05-28 13:32] sefator opened #58 "Play 2.4.x support?"
Are there plans to support Play 2.4.x ?

[2015-05-28 14:32] leleuj commented on #58
Yes.

Here is the plan: add REST support (+ LDAP + DB supports...) in `pac4j` v1.8 and then update `play-pac4j` with this new version: I may only target Play 2.3 & 2.4 supports though.

But before that, we could certainly update the current master to support Play 2.4 and 2.3 (same version 1.4.x) or create a new version (1.5.0) to only support Play 2.4 if it's not compatible. Any contribution will

[2015-06-08 09:36] #56 closed

[2015-06-08 09:45] #42 closed

[2015-06-08 09:48] leleuj opened #59 "Upgrade to pac4j 1.8"

[2015-06-08 09:50] leleuj opened #60 "Use the Authorizer concept"
- replace `requireAnyRole` and `requireAllRoles` by an "authorizer" parameter

OR

- leverage these "require*" parameters on the `Authorizer` concept

[2015-06-08 09:52] #45 closed

[2015-06-08 09:54] leleuj opened #61 "Improve / add REST support"
In Java, remove the `stateless` parameter to use the nature of the client (inheritance from `DirectClient` or `IndirectClient`)
To be implemented in Scala

[2015-06-08 09:54] leleuj opened #62 "Use the new ProfileManager concept"
Refactor the `StorageHelper` class

[2015-06-09 08:04] hugovalk commented on #58
Hi,
I've submitted a pull request with some updates on working with Play 2.4.

Play 2.4 is not binary compatible with Play 2.3, therefore you need to recompile the project. Probably you will need a version 1.5.

play-pac4j does not work with dependency injected routes at this moment, so either people need to use old style controllers or the project might be updated to use the new style controllers

[2015-06-09 09:03] leleuj commented on #58
PR: https://github.com/pac4j/play-pac4j/pull/63

[2015-06-10 07:09] leleuj commented on #58
Thank you for your help on Play 2.4.

There is an ambitious roadmap for `play-pac4j` using the new capabilities of the incoming `pac4j` v1.8: feel free to get involved and pick the latest issues ;-)

[2015-06-10 07:11] #58 closed

[2015-06-12 10:21] hugovalk commented on #39
With the upcoming 1.5.0 (Play 2.4) release, play-pac4j can use dependency injection to setup the configured clients.

You can create a normal SecurityConfig class containing for example a SAML2 client and you could have a dummy SecurityConfig class that authenticates via basic authentication and the test user name password (like in the demo application) to use in the integration tests.
The depende

[2015-06-30 16:01] KentaKomai opened #66 "Missing state parameter"
First thanks for creating pac4j. It is  very useful libraries.

I use `"org.pac4j" % "play-pac4j_scala2.11" % "1.4.0"` and `"org.pac4j" % "pac4j-oauth" % "1.7.0"` on Play framework 2.3.

I am trying to implement a Facebook login in my web application.
However, errors such as the following: I have out.

[code]

This error will appear after it has approved the application on Facebook.
When I get an

[2015-06-30 16:07] KentaKomai commented on #66
After, it had come out also, such as the following log.

[code]

[2015-06-30 17:25] leleuj commented on #66
Hi,

It's not the first time this "issue" is reported: as this `state` parameter is saved into the web session, the problem generally comes from a session issue (configuration).
You should really take a look at the mailing list where various solutions has been discussed: https://groups.google.com/forum/#!forum/pac4j-users

Best,

[2015-07-14 18:00] dan-lind opened #67 "Issues with live demo application"
The current live demo application seems to have several issues:

"Authenticate with Facebook" gives "This app is still in development mode, and you don't have access to it. Switch to a registered test user or ask an app admin for permissions"

"Authenticate with CAS" gives "This webpage is not available"

"Authenticate with SAML" asks me for a username and password (perhaps this is correct, not su

[2015-07-15 08:50] leleuj commented on #67
Yes, there might be some glitches.

Regarding Facebook issue, maybe I need to do something in the Facebook console, things are constantly changing...

Regarding CAS issue, you need a real CAS server on localhost:8888.

For SAML, I thought login / passwords where displayed under the login page.

Regarding OpenID Google support, it should be cleaned as it has been deprecated.

Maintaining all `pac4j

[2015-07-24 15:26] PR-O opened #68 "How to log in an account from the back-end"
Hi!

Great work on Play-Pac4J, we're happily outsourcing part of our authentication using Pac4J :smile: !

Quick question: we want to be able to log in a user using an email link (e.g. confirm email link after registration or a 'magic link'). What's the best way to do so using Pac4J?

[2015-07-24 16:37] leleuj commented on #68
Currently, play-pac4j is based on pac4j v1.7. I'm going to upgrade it with pac4j v1.8 in the next few days. It's going to be easier with pac4j v1.8.

The registration part is not done by pac4j: a user fills a form and he is created into your database (for example) and a token is generated. Then, a link with this token is sent to the user email.

On a specific url, you need to define a [ParameterCl

[2015-07-24 16:40] PR-O commented on #68
Right! I hadn't seen the ParameterClient before! Seems suitable for our use case. Our token authenticator is ready to go :smile: , so I guess we'll just wait for 1.8! Great timing!

Thanks for your clear answer.

[2015-07-29 10:16] PR-O commented on #59
Hi @leleuj , is there an ETA on this upgrade?

[2015-07-29 11:10] leleuj commented on #59
Yes, I'll start that next week.

[2015-07-31 08:45] PR-O commented on #59
Cool!

[2015-08-03 19:58] pycloux opened #69 "Play pac4j 1.5.0 not released"
Hi Jérôme,

Just to be 100% sure, play-pac4j 1.5.0 has not yet been released ?
(I can only find the 1.4.0 in the repo).
So I assume that only snapshots are available.

Best regards,

PYC

[2015-08-04 06:35] leleuj commented on #69
You're right: planning to do in the next few days. Did you test it successfully? No bug to report?

[2015-08-04 08:15] pycloux commented on #69
I am just about to upgrade.
I'll tell you in a few days :-)

[2015-08-04 11:54] leleuj commented on #69
I just released the version 1.5.0, it should be available in the Maven central repository in a few hours.

[2015-08-04 11:54] #69 closed

[2015-08-05 08:00] blemoine commented on #66
T.L.D.R : state isn't saved in session but in memory.

I've the same problem and after hours of search, it's seems that the pac4j implementation saving the "state" is stateful.

The class org.pac4j.play.scala.ScalaWebContext, in the methods get/set SessionAttributes use something called StorageHelper, which backend is in fact an in memory cache.
Creating my own ScalaContext and my own ScalaControl

[2015-08-05 08:35] leleuj commented on #66
Indeed, nothing goes into the session except an identifier, everything else (tokens, states, profiles) goes into the Cache (using the StorageHelper class). As the session is held in a cookie (in all HTTP requests, limited to 4K), it's a good practice to only store the identifier in the session and other things in the Cache.

That said, it should work with the Cache and it works in the demo: https:

[2015-08-05 08:49] blemoine commented on #66
The problem arise when you have multiple play framework with a Load Balancer in front of them.

Eg. :
 - The user ask for the redirectURI
 - The Load Balancer redirect the request to the first Play Framework
 - The first play framework store the state in it's Cache and respond correctly with the redirect
 - After authorization, the user is redirected to the callbackURL
 - The load balancer redirec

[2015-08-05 08:56] leleuj commented on #66
You're right: if you use a load balancer, you need to share your Cache accross your instances, where as your session is shared by default between your instances. Though, it's a common pattern and I don't see it as a problem. Except that maybe the documentation should be improved.

Were you expected to have everything in the session?

[2015-08-06 06:39] blemoine commented on #66
Yes, it's not a problem when you know it works like that :)

For my specific needs, I expected it to be in session, because the only parameter that was needed was the "state".  That's why I wrote my own "ScalaWebContext" and my own "ScalaController".

On the suggestion point, maybe you can, in the next version, reduce the coupling between ScalaController and ScalaWebContext to easily inject anothe

[2015-08-06 07:07] leleuj commented on #66
I definitely need to improve the documentation, I agree, to prevent people from spending time for nothing.

I'm currently working on a new implementation and based on the new DI capabilities of Play and the new capabilities of pac4j v1.8, I plan to do something really easier yet powerful with a pluggable storage mechanism.

[2015-08-11 06:10] princegoyal1987 opened #70 "Support for cache prefix specific to sessions."

[2015-08-11 06:29] #70 closed

[2015-08-11 06:47] leleuj commented on #70
I guess you find the solution on your own: https://github.com/pac4j/play-pac4j/blob/master/play-pac4j-java/src/main/java/org/pac4j/play/StorageHelper.java#L196

In the future 2.0 version, the design of the library will be improved, but this mechanism will be kept.

[2015-08-11 07:02] princegoyal1987 opened #71 "Persisting sessions?"
Is there a way to persist sesions. Each play reload (or small code change) logs out. Any solution?

[2015-08-11 07:07] leleuj commented on #71
"Session" is a bit misleading, because in fact, only an identifier is stored into the Play session (in the cookie) while all data are managed into the Cache.

So I think the problem comes from the Cache here as the cookie certainly stays unchanged. As the default Cache is in memory, things are lost. You may want to try an external Cache (in Memcached or Redis) or wait for the version 2.0 ;-)

[2015-08-11 07:09] princegoyal1987 commented on #71
Got it! I will use redis the.

Thanks for the quick reply :)

[2015-08-11 07:10] #71 closed

[2015-08-18 09:33] PR-O commented on #59
Any news on this @leleuj ?

[2015-08-18 11:47] leleuj commented on #59
Yes, I'm working on it. I've made a huge refactoring of the library. It's almost done, I need to review everything again, test a little more and write the full documentation. Hope it will be ready for the end of this week or the beginning of the next one.

[2015-08-18 12:34] PR-O commented on #59
That's great news!

[2015-08-18 13:45] PR-O opened #72 "[Play 2.4-Java] Dependency problem with play-pac4j_java"
In my Play 2.4 project, I used to include the play-pac4j_java 1.5.0-SNAPSHOT dependency. That one can no longer be used as play-pac4j is moving to 1.5.1-SNAPSHOT. However, when I try the 1.5.0 version as a dependency, it can't be found. The dependency is as below:

          "org.pac4j" % "play-pac4j_java" % "1.5.0"

[2015-08-18 13:50] jeroen4now commented on #72
Try (use - not _)
"org.pac4j" % "play-pac4j-java" % "1.5.0"

[2015-08-18 13:51] leleuj commented on #72
Exactly

[2015-08-18 13:51] #72 closed

[2015-08-19 07:49] PR-O commented on #72
Thanks! I now see the underscore was changed into a dash.

[2015-08-20 18:06] leleuj commented on #60
PR: https://github.com/pac4j/play-pac4j/pull/73

[2015-08-20 18:06] leleuj commented on #61
PR: https://github.com/pac4j/play-pac4j/pull/73

[2015-08-20 18:06] leleuj commented on #62
PR: https://github.com/pac4j/play-pac4j/pull/73

[2015-08-20 18:06] leleuj commented on #59
PR: https://github.com/pac4j/play-pac4j/pull/73

[2015-08-20 18:20] leleuj opened #74 "Don't deploy PR to Sonatype"

[2015-08-20 18:36] #39 closed

[2015-08-20 18:37] #49 closed

[2015-08-20 18:41] leleuj commented on #51
Any update on this? Any PR to add a `setEncoding` method to the `CasClient`?

[2015-08-20 18:41] #55 closed

[2015-08-20 18:44] leleuj commented on #66
For play-pac4j version 2.0, the `StorageHelper` has been removed and there is now a `CacheStore`: its name obviously states how it works. I also updated the documentation to avoid people to have the same issue: https://github.com/pac4j/play-pac4j/pull/73/files#diff-04c6e90faac2675aa89e2176d2eec7d8R174

[2015-08-20 18:44] #66 closed

[2015-08-20 18:45] leleuj commented on #67
With the new play-pac4j v2.0, the demos will be fully tested and updated.

[2015-08-20 18:45] #67 closed

[2015-08-20 18:48] #68 closed

[2015-08-20 18:50] leleuj commented on #59
@PR-O : any feedback will be appreciated on the new v2 (#73), demos have been updated as well: https://github.com/pac4j/play-pac4j-java-demo/pull/19 & https://github.com/pac4j/play-pac4j-scala-demo/pull/18

[2015-08-25 14:04] #60 closed

[2015-08-25 14:04] #61 closed

[2015-08-25 14:04] #62 closed

[2015-08-25 14:06] leleuj commented on #71
There is now an obvious `CacheStore` to store data and I'm pretty sure it would be easy to create a `SessionStore` if you need one.

See: https://github.com/pac4j/play-pac4j/blob/master/play-pac4j-java/src/main/java/org/pac4j/play/store/CacheStore.java

[2015-08-25 14:06] leleuj commented on #70
Still there: https://github.com/pac4j/play-pac4j/blob/master/play-pac4j-java/src/main/java/org/pac4j/play/store/CacheStore.java#L106

[2015-08-29 12:25] leleuj commented on #51
Replaced by: https://github.com/pac4j/pac4j/issues/242

[2015-08-29 12:25] #51 closed

[2015-09-04 09:59] pepijnschildkamp opened #76 "Exception after IndirectClient.getRedirectAction amount of params changed."
Hi,

After updating pac4j-play this week it seems there is some sort of reflection error. This might be due to the changes of isAjax parameter. The IndirectClient.getRedirectAction function changed from 3 to 2 parameters for pac4j-play. My guess is that the pac4j core is trying to invoke the function with 3 parameters via reflection and is unable to find it. See the stack trace below.

[code]

[2015-09-04 10:04] leleuj commented on #76
You're right, things have changed in pac4j v1.8: the `isAjax` parameter has been removed in favor of an automatic detection of the AJAX nature of an HTTP request.
But it should work without any error using play-pac4j v2.0. Can you elaborate a little more on your environment?

[2015-09-04 10:10] pepijnschildkamp commented on #76
Hi Leleuj,

Thanks for your reply.
Currently we are using Play framework 2.4.2 JAVA.

See the sbt below for the used deps for pac4j.

[code]

[2015-09-04 10:45] leleuj commented on #76
I just tested the https://github.com/pac4j/play-pac4j-java-demo and I don't have the problem. Are you sure you have the latest dependencies?

[2015-09-04 12:20] pepijnschildkamp commented on #76
I have successfully ran the demo app. I think it's a dependency caching conflict at my local machine. When I browse to the pac4j-java 2.0 jar in IntelliJ there is still an reference to ```isAjax``` in the method [RequiresAuthenticationAction.redirectToIdentityProvider](https://github.com/pac4j/play-pac4j/blob/master/play-pac4j-java/src/main/java/org/pac4j/play/java/RequiresAuthenticationAction.jav

[2015-09-04 12:25] leleuj commented on #76
I know. The latest build on play-pac4j has failed. It works locally for me as I have built the source code.
I restarted the build, it should be ok in a few minutes.

[2015-09-04 12:33] pepijnschildkamp commented on #76
That makes sense. Thanks Leleuj for your quick response and actions.
Do you have an public CI server so I can check if the build was successful?

[2015-09-04 12:34] leleuj commented on #76
Yes: https://travis-ci.org/pac4j/play-pac4j. Currently in progress and very slow...

[2015-09-04 13:00] leleuj commented on #76
Build passed.

[2015-09-04 13:00] #76 closed

[2015-09-04 13:22] pepijnschildkamp commented on #76
Thanks Leleuj. I'm able to compile again :).

[2015-09-16 10:18] leleuj commented on #59
PR: https://github.com/pac4j/play-pac4j/pull/77

[2015-09-18 17:51] leleuj commented on #74
PR: https://github.com/pac4j/play-pac4j/pull/78

[2015-09-18 17:54] #74 closed

[2015-09-21 05:51] #59 closed

[2015-09-21 09:08] leleuj opened #79 "Release 2.0.0"

[2015-10-06 14:29] cpcundill opened #83 "LDAP Authentication ClassCastException"
Hey there,

Firstly, thanks for the library - nice to see something Java-based for Play which can do LDAP.

Unfortunately I'm running into an error when trying to use the LdapAuthenticator with the FormClient:

[code]

Looking through the code, I can see this is because the LdapAuthenticator creates an LdapProfile yet the CallbackController tries to get the profile via the client, which is the `Fo

[2015-10-06 14:56] leleuj commented on #83
You caught a bug: indeed, the `FormClient` works with a `HttpProfile` and the `LdapProfile` should inherit from a `HttpProfile`.
I just fixed everything right now on the 1.8.0-RC2-SNAPSHOT: would you mind doing a test?
The final release is planned for this Thursday.

[2015-10-06 14:56] #83 closed

[2015-10-06 15:03] cpcundill commented on #83
Thanks for addressing this so quickly, will try with the RC2-SNAPSHOT.

[2015-10-06 15:07] cpcundill commented on #83
BTW, since the fix introduces "artificial" inheritance, i.e. `LdapProfile` extends `HttpProfile`, you may want to place some refactoring on your roadmap.

[2015-10-06 15:16] leleuj commented on #83
I would not say that the inheritance is "artificial": `UserProfile` > `CommonProfile` > `HttpProfile` > `LdapProfile`. It's an easy way to sort profiles.
If you feel that there is some room for improvement, don't hesitate to open an issue: I'm open to suggestion (for version 1.9)...

[2015-10-06 15:19] cpcundill commented on #83
Might just do that.  Thanks.

[2015-10-08 21:20] cpcundill commented on #83
Hey there @leleuj just to say that the fix in 1.8.0-RC2-SNAPSHOT worked for me.

[2015-10-09 05:14] leleuj commented on #83
Great!

[2015-10-13 14:22] #79 closed

[2015-11-01 19:33] cmoro-deusto opened #84 "Complete JWT Example"
Hi there!

   first of all, thank you very much for creating pac4j. It’s an awesome piece of work.

I’m trying to integrate pac4j in a play 2.4 application, in order to implement JWT based authentication.

I have downloaded and studied the play-pac4j-java-demo application but I couldn’t make the JWT auth to work:

 - Login using theform or basic auth.
 - Login works and a UserProfile is instantiat

[2015-11-02 10:38] leleuj commented on #84
By default, the Play demos expect the token to be passed via a request parameter (that's why a `ParameterClient` is used). If you want to pass the token as a header, you need to instantiate a `HeaderClient` instead of the `ParameterClient`: https://github.com/pac4j/pac4j/blob/master/pac4j-http/src/main/java/org/pac4j/http/client/direct/HeaderClient.java

All clients are listed here: https://github

[2015-11-02 10:38] #84 closed

[2015-11-02 10:42] cmoro-deusto commented on #84
OK, that's what I thought, I was confused by the index option "Protected url by DirectBasicAuthClient (POST the Authorization header with value)", which fails.

Thanks very much.

[2015-12-13 12:31] leleuj opened #85 "Upgrade to pac4j v1.8.1"

[2015-12-13 15:07] leleuj commented on #85
PR: https://github.com/pac4j/play-pac4j/pull/86/files

[2015-12-15 23:51] abhijitbasu opened #87 "PLay 2.2 demo"
Where can I find the Play 2.2 Pac4j demo

[2015-12-16 06:31] leleuj commented on #87
In the *play22* branches:
https://github.com/pac4j/play-pac4j-scala-demo/tree/play22
https://github.com/pac4j/play-pac4j-java-demo/tree/play22

[2015-12-16 06:31] #87 closed

[2015-12-16 07:59] #85 closed

[2015-12-17 18:14] leleuj opened #88 "Upgrade to pac4j v1.8.2"
To use the new `HttpActionAdapter`.

[2015-12-17 18:17] leleuj commented on #88
PR: https://github.com/pac4j/play-pac4j/pull/89

[2015-12-17 18:26] leleuj commented on #88
The demos are updated as well: https://github.com/pac4j/play-pac4j-java-demo/pull/25 & https://github.com/pac4j/play-pac4j-scala-demo/pull/24

[2015-12-19 12:40] #88 closed

[2015-12-24 09:09] abhijitbasu commented on #87
1. How do I access profile attributes like mail in java application. It say attributes are private
2. How do I use OAuth2 for Salesforce, seems there is no client already available

[2015-12-26 15:30] leleuj commented on #87
As all profiles inherit from `CommonProfile`, you can call `getEmail`, `getFirstName` whatever the current profile is (https://github.com/pac4j/pac4j/blob/master/pac4j-core/src/main/java/org/pac4j/core/profile/CommonProfile.java).

You can also simply call `getAttribute(name)` to get an attribute by its name.

Indeed, there is currently no Salesforce client using OAuth 2.0 protocol. As the pac4j-o

[2015-12-29 15:31] PR-O opened #90 "[play-pac4j-2.0.1] NullpointerException when setting null value in Redis Cache"
We are using Redis cache with our Play 2.4 application. After upgrading from play-pac4j 1.7.x to play-pac4j-java 2.0.1-SNAPSHOT, we get a NullPointerException originating from the IndirectClient.cleanAttemptedAuthentication() function (line 76) when logging in a user. Or more specifically when setting a session attribute after successfully authenticating a user.

This it the relevant line:

[2015-12-29 16:57] leleuj commented on #90
Yes, this cleanup is a new feature from pac4j v1.8. We will have the issue twice as we clean elements from the session at the end of the login process: https://github.com/pac4j/pac4j/blob/master/pac4j-core/src/main/java/org/pac4j/core/client/IndirectClient.java#L134

But we could safely use an empty String as tests are made using `CommonHelper.isNotBlank`.

Would you mind opening a pull request fo

[2015-12-30 08:43] PR-O commented on #90
Ok. See (https://github.com/pac4j/pac4j/issues/424)[https://github.com/pac4j/pac4j/issues/424].

[2015-12-30 09:31] #90 closed

[2015-12-30 10:01] PR-O opened #91 "Getting a hold of injected Config outside of Controllers"
In version 1.5.x we used to grab the pac4j session id in various places throughout our app, by doing the following:

    sessionId = StorageHelper.getOrCreationSessionId(context.session());

When upgrading to version 2.0.1-SNAPSHOT we changed this into:

    @Inject
    Config config;

    final WebContext webContext = new PlayWebContext(context, config.getSessionStore());
    sessionId = config.g

[2015-12-30 10:19] leleuj commented on #91
Injection should work in all components using `@Inject` although I didn't test it outside controllers.

In all cases, you need the web context so I'm not sure how you can / could use that in models and services. Can you elaborate on this?

[2015-12-30 10:55] PR-O commented on #91
Sure. We use Deadbolt for role management. As such, we have an AbstractDeadboltHandler class that is used to perform certain checks on requests before they even get to Controllers. That class gets a context. We used to check for a pac4J session id using the StorageHelper.getOrCreationSessionId() function. Now it seems we have no way of getting to the session store from AbstractDeadboltHandler :cry

[2015-12-30 11:01] leleuj commented on #91
I'm surprised the `config` injection does not work. Though, if you want to share your configuration, you can certainly use the `ConfigSingleton` class.
Moreover, pac4j now handles authorization so you can certainly remove Deadbolt and use the `authorizerName` parameter.

[2015-12-30 11:15] PR-O commented on #91
I will try the ConfigSingleton approach. Thanks.

And we are definitely planning on migrating our Deadbolt logic to Pac4J ;). One adventure at a time.

[2015-12-30 12:02] PR-O commented on #91
When I use the ConfigSingleton class to obtain the pac4j config like so:

    Config authConfig = ConfigSingleton.getConfig();

I get an empty config.

Is there a special way to get a hold of the config this way?

[2015-12-30 12:12] leleuj commented on #91
You must first do a: `ConfigSingleton.setConfig(config);` in your SecurityModules for example.

[2015-12-30 12:13] PR-O commented on #91
Understood. I've added it to the SecurityModule.

Thanks!

[2015-12-30 12:13] #91 closed

[2015-12-30 12:17] leleuj commented on #91
Keep us posted about the authorizations part...

[2016-01-14 12:19] leleuj opened #93 "Rename RequiresAuthentication* as Security*"

[2016-01-14 13:27] leleuj commented on #93
@hugovalk : as we are about to add a `SecurityFilter`, I think existing components should be renamed with the same pattern. For example: `RequiresAuthenticationAction` becoming `SecurityAction`.

Speaking of which, the `clientName` and `authorizerName` parameters should become `clients` and `authorizers`.

[2016-01-14 13:28] leleuj opened #94 "Remove UserProfileController"
The value of the `UserProfileController` is fairly low: just one method `getUserProfile` to retrieve the current user profile.
To be consistent with other pac4j implementations (which don't have such element), it wold make sense to remove it.

[2016-01-14 13:28] leleuj commented on #94
@hugovalk : what do you think of this one?

[2016-01-15 07:41] hugovalk commented on #93
Good suggestions. At least `clientName` and `authorizerName` should have been plural. But the shorter form `clients` and `authorizers` is better.

As for `SecurityAction` I would suggest refactoring this a bit, by using Action Composition and a request wrapper, see:
https://www.playframework.com/documentation/2.4.x/ScalaActionsComposition

We could call it: `AuthenticatedAction` meaning an action

[2016-01-15 07:46] hugovalk commented on #94
How would we get access to the user profile in the Java demo application?

Maybe we can make use of action composition:
https://www.playframework.com/documentation/2.2.x/JavaActionsComposition#Authentication

However, it seems to be less powerful than the Scala variant.

[2016-01-15 08:19] leleuj commented on #93
About the `AuthenticatedAction` name, it lacks the authorization part. That's why I think `SecurityAction` is better.

The current Scala action provides the profile without interacting with the request: isn't it better?

[code]

How would you rewrite that using action composition?

[2016-01-15 08:24] leleuj commented on #94
Like in any other pac4j library: context -> manager -> user profile

[code]

Here, it's true that you need to also inject the `config`. Maybe we should keep the userprofile.

Action composition is what we already use for the `RequiresAuthentication` annotation and `RequiresAuthenticationAction` action.

[2016-01-15 09:59] hugovalk commented on #93
What about the name `SecureAction`?

I think with Action composition we might be able to refactor it to be used like:

    def facebookIndex = SecureAction("FacebookClient") { request =>
      Ok(views.html.protectedIndex(request.getUserProfile))
      // or
      Ok(views.html.protectedIndex(request.user)
    }

This would be more similar to:

    request.getUserPrincipal() // In Java servlet app

[2016-01-15 10:01] hugovalk commented on #94
Another suggestion might be to rename it to `UserProfileProvider` which can be injected in the controllers. Then you get rid of the inheritance in favor of composition which is good practice.

[2016-01-15 10:20] leleuj commented on #93
OK. It looks better in name and code.

[2016-01-15 10:20] leleuj commented on #93
Let's give it a try...

[2016-01-15 10:21] leleuj commented on #94
Can you elaborate a little more on how we would use this injected `UserProfileProvider`?

[2016-01-18 06:54] hugovalk commented on #94
The only method in `UserProfileController` does not have anything to do with controllers, just with getting the user profile. So rename it to UserProfileProvider and rename the method to `get()`.

Use it like this (Java):

    public class MyController extends Controller {
        @Inject
        private UserProfilePovider userProfile;
        ...
            CommonProfile profile = userProfile.ge

[2016-01-18 10:37] leleuj commented on #94
But you need the Play `ctx()` to build the web context and profile manager to get the user profile, don't you? And this `ctx()` is only available in controllers.

Speaking of the `Option`, notice that pac4j v1.9 will be Java 8 and all play-pac4j versions based on it will be Java 8 as well.

[2016-01-18 13:55] hugovalk commented on #94
In the Scala `Security` trait, this is not necessary, so maybe this could be done for the UserProfileProvider as well:

    protected def getUserProfile(request: RequestHeader): P = {
      val webContext = new PlayWebContext(request, config.getSessionStore)
      val profileManager = new ProfileManager[P](webContext)
      profileManager.get(true)
    }

[2016-01-18 14:01] leleuj commented on #94
Beyond implementation, do you think the `UserProfileController` or `UserProfileProvider` is necessary for play-pac4j users or we can remove it (and let users use the web context and profile manager)?

[2016-01-18 14:16] hugovalk commented on #94
Must users then always use this code like in the snippet from my previous comment? I feel (until convinced otherwise) that the web context and profile manager are more about the inner workings of play-pac4j.

At this moment user code does not contain the web context and/or the profile manager. By keeping it this way, we would have more flexibility in refactoring later on.

[2016-01-18 18:57] leleuj commented on #94
OK. Let's keep this logic internal for now and let's try the composition approach as you proposed.

[2016-02-04 10:01] leleuj commented on #94
@hugovalk : something to propose on this one or do we close it?

[2016-02-04 10:02] leleuj commented on #93
@hugovalk : still planning to do the renaming?

[2016-02-18 18:26] leleuj commented on #94
Re-planned to 2.2.0

[2016-02-18 18:26] leleuj commented on #93
Re-planned to 2.2.0

[2016-03-07 15:26] jtammen opened #101 "Play 2.5 compatibility"
Seems as if some APIs have been removed in [Play 2.5](https://www.playframework.com/documentation/2.5.x/Migration25) – would be nice to have a new version of play-pac4j compatible to Play 2.5! (-:

[2016-03-07 15:47] leleuj commented on #101
Sure. We just released a version 2.1.0 with the new security filter. Soon there will be a new version based on pac4j v1.9.
Let's do a v2.2.0 for Play 2.5. Would you mind giving it a try? I just created a branch 2.1.x and updated the master to 2.2.0 for that.
The demos have been updated accordingly.

[2016-03-07 22:36] zdavep commented on #101
Running local builds from master gives the following for me:

Built using master branches of play-pac4j (2.2.0-SNAPSHOT) and pac4j (1.9.0-SNAPSHOT).

[2016-03-08 09:59] leleuj commented on #101
Thanks for the feedback. You should just try to move to Play 2.5 and still use pac4j 1.8.6 for now. It will be easier to just upgrade one of the two frameworks.

[2016-03-09 02:47] zdavep commented on #101
I get the same error as above with 1.8.6 (which is the reason I tried master branches).  The problem seems to stem from the fact that 'StatusHeader' is now a standalone class in Play 2.5 (and no longer under 'Results').  If I remove pac4j from my project, I don't see the error.

[2016-03-09 09:33] leleuj commented on #101
I'm not surprised that the new Play 2.5 version introduces some breaking changes and I think it can be easily fixed.
My main concern is about strategy: I think it's better to upgrade to pac4j 1.9 first and release a 2.2 version. And then, upgrade to Play 2.5 (with pac4j 1.9) and release a 2.3 version.
I will upgrade to pac4j 1.9 in the next days.

[2016-03-09 18:09] zdavep commented on #101
Sounds good.  Thank you very much for the feedback. :100:

[2016-03-12 15:50] leleuj opened #102 "Upgrade to pac4j v1.9"

[2016-03-24 21:25] ArkadyKarev opened #103 "Can't get current client from HttpActionAdapter"
Hi! We using different direct clients for different platforms (mobile, web), and therefore it's important to obtain current client from HttpActionAdapter. For example, in case with mobile app (ParameterClient), I want to send json for unauthorized client, and for the web version (CookieClient) I need to send redirect to login page.
RequiresAuthenticationAction has list of currentClients it the 'un

[2016-03-25 07:34] leleuj commented on #103
Hi,

The idea behind the HttpActionAdapter (which is also used in other pac4j
implementations) is to deal only with proper HTTP responses generations /
transformations.

So the protected method is meant to be overriden in subclasses to have the
appropriate behaviour. Just let me know if that works smoothly or if we
need to revisit this for pac4j v1.9.

Thanks.
Best regards,
Jérôme

2016-03-24 22:2

[2016-03-25 08:33] ArkadyKarev commented on #103
Thanks you for quick reply, Jérôme!

Dealing with proper HTTP responses from HttpActionAdapter is nice and clear. May be in our case we need something like several different HttpActionAdapters for different implementation of DirectHttpClient (one HttpActionAdapter per each direct client). But I think that it's more complicated solution, than having info about current clients from HttpActionAdapter

[2016-03-25 08:43] leleuj commented on #103
Hi,

In fact, this behaviour already exists if you are not authenticated:
- if you use an indirect client (let's say FacebookClient), you'll be
redirected to the Facebook login page; AJAX request are also detected and a
401 error is returned in that case
- if you use a direct client, a 401 error page will be returned as
credentials should have been passed along the request and the
authentication s

[2016-03-25 11:02] ArkadyKarev commented on #103
Brilliant!
Exactly that what looking for. Thank you, Jérôme! Everything works smoothly. But I've to write a little workaround, because IndirectHttpClient has _extractor_ field with UsernamePasswordCredentials generic type. May I make pull request with the following code into one of pac4j repos (please point me at one, if you think that its good idea), and with changing UsernamePasswordCredentials

[2016-03-25 11:26] leleuj commented on #103
Good proposal, but the `IndirectHttpClient` has already been refactored to something more generc in the `pac4j-core` module and the problem has been fixed: https://github.com/pac4j/pac4j/blob/master/pac4j-core/src/main/java/org/pac4j/core/client/IndirectClient2.java#L29

[2016-03-25 13:15] ArkadyKarev commented on #103
Very nice! So what about IndirectCookieClient?

[2016-03-27 22:45] Wicked0ne opened #104 "Invalid JWT's generated."
Using the provided examples, when you use http://play-pac4j-java-demo.herokuapp.com/jwt.html it will generate a token, but it does not seem to be a valid JWT token. Trying to decode the token using one of the online JWT decoders results in errors.

[2016-03-28 14:26] leleuj commented on #103
That's possible: the appropriate `RedirectActionBuilder` should be define according to the needs. Would you mind taking care of that?

[2016-03-29 06:58] leleuj commented on #104
Hi,

By default, JWT tokens are encrypted as they contain user profiles with
potentially sensitive data, so I'm not surprised you can't decode them.

Though, you can disable encryption using the appropriate constructor with
the JwtGenerator.

Thanks.
Best regards,
Jérôme

2016-03-28 0:45 GMT+02:00 Wicked0ne <notifications@github.com>:

[2016-04-01 09:12] rsemlal opened #105 "Race conditions on CallbackController"
The code of the redirection method in the CallbackContoller is the following:
[code]

[2016-04-01 11:03] leleuj commented on #105
I'm not sure to fully understand your use case: the `CallbackController` is meant to finish an authentication started at a remote identity provider, it should be called once and then, the user is authenticated and redirected to the originally requested url.

Can you elaborate a little more?

[2016-04-01 12:47] rsemlal commented on #105
Hi,

Sorry i was a bit unclear, so:
Currently we have developped a webapp (app A) that requires authentication, so when an unauthenticated user tries to access the route /web (for example) he gets redirected to the login page, and if the login is successful he is redirected back to the requested page (/web in this example)

The thing is that end user do not load the /web directly, instead they hav

[2016-04-03 10:19] #104 closed

[2016-04-04 08:57] leleuj commented on #105
OK. I get it now. This is a very specific use case so I think the best option for you is to override the `CalbackController` with your own controller and copy/paste the `redirectToOriginallyRequestedUrl` method and remove the cleaning of the originally requested url: `context.setSessionAttribute(Pac4jConstants.REQUESTED_URL, null);`

It should do the job, although I fear some side effects.

[2016-04-08 14:10] ArkadyKarev commented on #103
Jérôme, actually I was wrong, when I said that everything works fine. RequiresAuthenticationAction class inside internallCall method makes decision to use or not session flag
`final boolean useSession = useSession(context, currentClients);` and just a little below, if useSession is 'true', it uses Pac4jConstants.USER_PROFILE constant to obtain UserProfile from session store. Could you give me a hi

[2016-04-08 17:08] leleuj commented on #103
You must keep in mind the two kinds of clients:
- indirect client are used for remote authentication that occurs once and need a callback endpoint, they are stateful
- direct clients are used when authentication happens on every request (credentials must be provided on every request), they are stateless. A cache can be used for performance reasons.

The `useSession` flag is computed according to t

[2016-04-11 07:16] nielsdraaisma commented on #101
I've managed to get this module working (as in, no longer throwing the error above) with Play 2.5, fork available at https://github.com/nielsdraaisma/play-pac4j

Further stability is unknown since I've only just started using this library and can't easily go back to older play versions.

[2016-04-11 08:26] leleuj commented on #101
Thanks for your help. Though, the priority is given to the upgrade towards pac4j v1.9 which will change several things (https://github.com/leleuj/play-pac4j/tree/play-102). So I would not spend too much time on the Play version upgrade before the play-pac4j version 2.2 is released.

[2016-04-13 08:39] leleuj commented on #102
PR: https://github.com/pac4j/play-pac4j/pull/107 & https://github.com/pac4j/play-pac4j-java-demo/pull/30 + https://github.com/pac4j/play-pac4j-scala-demo/pull/29

[2016-04-15 08:15] #103 closed

[2016-04-15 08:15] #105 closed

[2016-04-15 08:33] #102 closed

[2016-04-15 08:33] #94 closed

[2016-04-15 08:33] #93 closed

[2016-05-11 03:46] nielsdraaisma commented on #101
I've noticed you've merged in the branch you mentioned above. Are you expecting more work to be done on that side, or would now be a good time to start looking at play 2.5 support.

I'm happy to retrofit my fork on the current codebase if it's not a waste of time :)

[2016-05-12 12:12] leleuj commented on #101
https://github.com/pac4j/pac4j/issues/558 is still on the path of the 1.9 release, but after that, I'll be able to release pac4j and play-pac4j and we'll be able to tackle the Play 2.5 upgrade.

So, currently, we have:
- branch 2.1: Play 2.4 + pac4j 1.8 -> released
- master (2.2): Play 2.4 + pac4j 1.9 -> in progress

Though, I realized this issue has been opened a few months ago so if you have tim

[2016-05-12 12:59] leleuj commented on #101
Hold on.

I realized we already have this PR: https://github.com/pac4j/play-pac4j/pull/106, by @andriykuba which could be used if targeted to the right branch.

I just created the 2.2 branch: @andriykuba, can you submit a new PR to this branch? If so, @nielsdraaisma : could you review the PR ?

[2016-05-12 13:19] andriykuba commented on #101
@leleuj: done

[2016-05-12 14:15] leleuj commented on #101
@andriykuba : thanks

[2016-05-13 06:33] leleuj commented on #101
Done for play-pac4j v2.2 (pac4j v1.8): to be done for play-pac4j v2.4 (pac4j v1.9)

[2016-05-13 11:06] wwbakker commented on #101
Thanks.
I can't find it in maven central yet though. Will it be in there soon?
http://search.maven.org/#search%7Cga%7C2%7Cpac4j

[2016-05-13 11:36] leleuj opened #109 "profileTimeout is not taken into account any more"
In the `PlayCacheStore`, the appropriate timeout (between `sessionTimeout` and `profileTimeout`) was chosen according to the type of the object (`UserProfile` or not), but it doesn't work anymore as there are multi profiles as a `LinkedHashMap`.

[2016-05-13 11:39] leleuj commented on #101
Snapshots are only available in the Maven snapshots repository: https://github.com/pac4j/play-pac4j#development till I release the project as the 2.2.0 release (available in the Maven central repo).

[2016-05-18 08:52] champloo commented on #101
Would it be possible to release the latest changes on 2.2.x branch to the Maven snapshots repo? The version that is currently in the snapshots repo does not work with Play 2.5.

[2016-05-18 09:03] leleuj commented on #101
It should be ok now.

[2016-05-18 13:27] champloo commented on #101
Great, thank you!

[2016-06-01 11:59] leleuj commented on #109
PR: https://github.com/pac4j/play-pac4j/pull/112

[2016-06-03 07:16] #109 closed

[2016-06-10 06:35] leleuj commented on #101
@andriykuba : I released the new play-pac4j v2.3.0 based on the new pac4j v1.9.0, but it is still based on Play 2.4. Would you mind upgrading it to Play 2.5? As well as the demos? Thanks

[2016-06-10 21:05] andriykuba commented on #101
@leleuj: I will do it

[2016-06-14 21:15] andriykuba commented on #101
@leleuj: please, verify my pull requests

[2016-06-15 06:56] leleuj commented on #101
Thanks for the pull requests and sorry if I was unclear, but they must target the master (which is in version 2.4.0-SNAPSHOT while the 2.3.x branch will stay in Play 2.4 and pac4j v1.9)

[2016-06-15 09:18] mmoulou opened #115 "persist Social Media Users"
Hello,

is there any way with pac4J to persist informations for users logging with social media clients (facebook, twitter)

[2016-06-15 09:39] andriykuba commented on #101
No problem, I have moved them to master.

[2016-06-15 09:51] leleuj commented on #101
Many thanks. Merging, except the Scala demo where the build is broken...

[2016-06-15 10:17] andriykuba commented on #101
I will look, my local has been built fine.

Could it be because the "2.4.0-SNAPSHOT" in the sonatype snapshots repository still the old one, so scala demo takes wrong pac4j ?

[2016-06-15 10:22] leleuj commented on #101
I think the right 2.4.0-SNAPSHOT version has been deployed to Sonatype repo: https://oss.sonatype.org/content/repositories/snapshots/org/pac4j/play-pac4j/2.4.0-SNAPSHOT/ (I see one from this "morning" matching the latest build: https://travis-ci.org/pac4j/play-pac4j/builds/137747635)

[2016-06-15 11:24] #115 closed

[2016-06-16 05:27] #101 closed

[2016-06-30 00:22] mavencode01 opened #119 "Play-Pac4J support KeyCloak"
First, I must say this is really an excellent library - thank you for the great work.

I just created a PoC with Keycloak and Play-Pac4J but I found an issue, the logout doesn't seems to work. The user could click the browser back button and still access the protected page.

It seems the issue is either Pac4J or Keycloak implementation itself.

Any idea ?

[2016-07-03 13:25] leleuj commented on #119
Thanks.

I'll welcome any contribution. I remember this attempt to add Keycloak support in pac4j (using the OpenID Connect protocol): https://github.com/pac4j/pac4j/pull/449

The logout available in play-pac4j (like in other pac4j lib) is always a local logout (destroy the web session), the centralized server (Keycloak) is never reached (this is another issue planned for later: https://github.com/

[2016-07-11 10:05] #119 closed

[2016-07-20 13:19] leleuj opened #120 "Merge the profileTimeout and sessionTimeout"
into a single timeout concept.

[2016-07-25 09:28] leleuj commented on #120
PR: https://github.com/pac4j/play-pac4j/pull/121

[2016-07-27 07:44] #120 closed

[2016-08-13 04:50] leleuj opened #126 "Use the new Store concept and the DefaultCasLogoutHandler"

[2016-08-25 15:55] leleuj opened #127 "Integrate with Deadbolt2"
Create a `Pac4jDeadboltHandler` with:
- the `getSubject` method retrieves the pac4j user profiles and wraps it as a Deadbolt2 `Subject`
- the `beforeAuthCheck` method should redirect the user to an identity provider for login if an indirect client is defined and if the user profile does not exist or return 401 otherwise

[2016-08-29 19:22] entropicdrifter opened #128 "getRequestCookies NullPointerException"
Hi,
I'm trying to use a Cookie based Direct Authentication scheme, but the getRequestCookies() method inside PlayWebContext keeps throwing NullPointerExceptions, specifically due to the httpCookie.maxAge() and httpCookie.domain() calls.

Since this method is inside the PlayWebContext class, it is very difficult to extend a single class in order to override this method.

Apparently it is part of th

[2016-08-30 04:44] leleuj commented on #128
In fact, I have never tested the cookies support. And I agree it must be changed at the `PlayWebContext` level.

Would you mind submitting a pull request for that? Thanks

[2016-09-01 02:35] leleuj commented on #128
Thank you very much

[2016-09-01 02:35] #128 closed

[2016-09-01 12:42] leleuj opened #132 "ec in trait Security of type play.libs.concurrent.HttpExecutionContext is not defined"
@entropicdrifter It seems that since this commit: https://github.com/pac4j/play-pac4j/commit/194d85f341ec01274304367262735a690afaf6d1, the [play-pac4j-scala-demo](https://github.com/pac4j/play-pac4j-scala-demo) demo returns the following error:

[code]

Can you investigate please?

[2016-09-01 14:14] entropicdrifter commented on #132
Okay. Is this in the 2.4.x branch, or master? The commit you linked to was in master, but you labelled it 2.4.0

Either way, I will work on both.

[2016-09-01 14:24] leleuj commented on #132
In master for sure. I didn't test it on 2.4.x, but as both are based on Play 2.5, I assume the problem occurs also.

[2016-09-01 14:54] entropicdrifter commented on #132
I think I fixed it. I'll need to make a PR for both the play-pac4j plugin and the play-pac4j-scala-demo.
That's for the master branch, I'll get to the 2.4.x branch next.

[2016-09-01 14:55] leleuj commented on #132
Thanks

[2016-09-01 15:28] entropicdrifter commented on #132
I tested 2.4.x, but it seems that it already works!

I think the difference might be because in 2.5.x the Injection scheme is different due to the PlaySessionStore.

The current play-pac4j-scala-demo 2.4.x branch pulls in the 2.4.0 release (I assume it is supposed to until the release of 2.4.1), but I deleted that line from build.sbt and pulled in the current play-pac4j 2.4.x and it still worked p

[2016-09-02 05:50] #132 closed

[2016-09-02 06:18] leleuj commented on #132
It works now in version 2.5.x. I upgraded the demos for the 2.4.x branch to use the 2.4.1-SNAPSHOT version (as well as pac4j v1.9.1). Same for the 2.3.x branch.

I'll re-test everything next week before the releases.

Thanks for your help.

[2016-09-04 09:09] leleuj opened #134 "Filter vs ActionCreator vs HttpRequestHandler"
Apart from the `@Secure` annotation and the `Secure` function (which somehow are specific to the Play pac4j implementation), we currently have the `SecurityFilter` to provide a general interception mechanism.
Though, there is a limitation: "the request body is not available" (https://groups.google.com/forum/?fromgroups#!topic/pac4j-users/Xdk4igV9kNE).

And we have other potential mechanisms: `Acti

[2016-09-05 07:01] othrayte opened #135 "Cookies with max-age -1 expire immediately"
I noticed when trying to use the pac4j CSRF token generation with Play 2.5 that cookies created by the `CsrfTokenGeneratorAuthorizer` expire immediately.

These cookies have max-age set to -1 (the default). The issue appears to be due to a change from Play 2.0 to Play 2.1 where the max-age value they use to indicate a transient/session cookie changed from -1 to `null`/`None`. The pac4j `PlayWebCon

[2016-09-05 09:36] petenattress commented on #134
Hi - I initially raised this on the Google group.

You are correct that I will need to manually define which URLs are protected if I'm using my custom SecureAction solution. The code in my ActionCreator looks a bit like this:

[code]

Obviously it would be much more preferable if the configuration markup as used for filters could be reused here somehow. I only have one client and one authorizer bu

[2016-09-05 12:01] leleuj commented on #135
Your understanding is correct: the CSRF token is supposed to be saved in a **session** cookie (and not expire immediately).

So there is a problem with Play (most frameworks handle that properly)

I guess the work started with #128 must be improved: we should check the max-age before setting a cookie and defaults to -1 if null (`PlayWebContext`).

Would you mind submitting a pull request for that

[2016-09-05 21:29] leleuj commented on #134
OK. So the `HttpRequestHandler` does not provide any value, compared to our existing `SecurityFilter`.

What are the pros and cons of the `SecureActionCreator` vs the `SecurityFilter`?

@petenattress : are you interested in contributing a `SecureActionCreator` with a patterns mechanism shared with the `SecurityFilter`?

[2016-09-06 12:37] petenattress commented on #134
As far as I can tell at the moment, the only benefit of a `SecureActionCreator` over `SecurityFilter` is if your authentication logic (i.e. the `Authorizer`) requires access to the parsed request body. In my case this is a posted form parameter, but anyone who needs to inspect the request body (e.g. to read a field from a JSON object) may find it useful. It's also only useful if you have a large a

[2016-09-06 14:02] entropicdrifter commented on #134
In my most recent project, I found it most useful to simply extend the Controller class with an otherwise blank class that has the `@Secure` annotation applied at the class level. That way only classes that need both unsecured and secured methods require the `@Secure` annotation at the individual method level.

Simple workarounds aside, I have noted a related issue with Direct Authentication metho

[2016-09-07 06:24] leleuj commented on #134
Thanks for your feedbacks.

@entropicdrifter raises two good points:

1) using the `@Secure` annotation at the Controller level makes things easier, but it only works for Java, isn't it? @petenattress would it be sufficient for you?

2) Yes, the Profile is saved into the Context. In fact, you can change that with the `setSaveProfileInSession` method on the logic.
The idea is to make the Profile av

[2016-09-07 09:14] #126 closed

[2016-09-07 11:23] hugovalk commented on #134
Hi all,

Please consider that the Play framework has been designed with reactive design principles in mind. Typically this means that body parsing is deferred to the latest possible moment.
Also the Play framework supports Reactive Streams.
This means that large requests (like file uploads for example) don't have to be parsed when for example authentication fails.

As a general design principle it

[2016-09-07 12:25] millross commented on #134
Regarding Hugo's statement, the same applies to vert.x for very similar reasons.

[2016-09-08 08:41] leleuj commented on #134
Thank you all for your feedbacks.

It seems we should not go further on the `SecureActionCreator` which does not prevent @petenattress from implementing his custom solution for his needs.

[2016-09-08 08:41] #134 closed

[2016-09-08 20:40] entropicdrifter opened #136 "2.4.1-SNAPSHOT incompatible with pac4j 1.9.0"
It seems that, most likely due to my meddling, the current snapshot of 2.4.x only supports pac4j 1.9.1.
When I attempt to use it with 1.9.0, it throws the following exception:
`java.lang.AbstractMethodError: Method org/pac4j/ldap/credentials/authenticator/LdapAuthenticator.validate(...) is abstract`

This happens with the JWT authenticator too, so I assume it's a general issue.

As I said though,

[2016-09-09 06:24] leleuj commented on #136
I just wrote: http://www.pac4j.org/docs/backward-compatibility.html It should make things clearer. Just let me know.

I'll update the README by the way.

[2016-09-09 06:24] #136 closed

[2016-09-11 12:19] leleuj commented on #135
Taking another look at this, I'm not sure to understand how the max-age can be set to `null`.  The pac4j `Cookie`  has: `private int maxAge = -1;` and the Play cookie is built directly from this value in the `addResponseCookie` method.

More details would be appreciated. This blocks the 2.3.1 and 2.4.1 releases.

[2016-09-12 05:48] othrayte commented on #135
So my understanding is that maxAge of -1 in pac4j should be a session cookie. In Play a session cookie is a cookies with a maxAge set to `null`. So my plan was to convert pac4j cookies with the default -1 maxAge to Play cookies with `null` maxAge. The recent changes in #128 make the opposite conversion true, Play cookies with `null` maxAge become pac4j cookies with maxAge set to -1. If this is cor

[2016-09-12 08:22] leleuj commented on #135
Yes, `maxAge` of -1 in pac4j is a session cookie. But it's true generally.

Currently, we do:

[code]

So we pass the `cookie.getMaxAge()`, and in Play, the `maxAge` is an `Integer`.

Why passing -1 does not work? You want to check the value of the `cookie.getMaxAge()` and pass `null` if it's -1?

[2016-09-12 11:32] othrayte commented on #135
For some reason Play's `Http.Cookie`, which is what is used in [`Http.Response.setCookie()`](https://github.com/playframework/playframework/blob/master/framework/src/play/src/main/java/play/mvc/Http.java#L1895) uses the value `null` for session cookies and interprets all negative values (including -1) as intending for the cookie to immediately expire.

So yes, I was thinking that -1 should become

[2016-09-12 11:38] othrayte commented on #135
Also, at some point internally I found that Play converts the cookie again and the `Integer` is converted back to an `int`, at which point they use `Integer.MIN_VALUE`, it was last week that I found this but I think it is [here](https://github.com/playframework/playframework/blob/master/framework/src/play/src/main/scala/play/api/mvc/Cookie.scala#L116). For reference play omits the `maxAge` and `ex

[2016-09-12 13:32] leleuj commented on #135
Thanks for the explanations. I feel that the Play source code could be improved on that.

So yes, we should change `cookie.getMaxAge()` by  `cookie.getMaxAge() == -1 ? null : cookie.getMaxAge()`, shouldn't we?

On that basis, you can submit PR for 2.3.x and 2.4.x branches as well as the master? It should be straightforward...

[2016-09-12 13:41] othrayte commented on #135
Have already started on the changes, that was the easy bit, I'm working on verifying the change but having some difficulty getting my local build of play-pac4j to run in my project to test it, does it matter which version of pac4j-core I use to test play-pac4j 2.4 (which is currently what my project uses)? If not I'll probably figure it out tomorrow anyway.

[2016-09-12 13:52] leleuj commented on #135
About which versions of `pac4j-core` you can use, I tried to sum up everything here: http://www.pac4j.org/docs/backward-compatibility.html

With `play-pac4j` v2.4.x, you can use pac4j-* v1.9.x libraries.

[2016-09-13 00:59] othrayte commented on #135
Ok, that was simple I just needed to use 1.9.1 due to the `validate()` change.

I will have the PR in shortly, but one other thing we needed to do to use the CSRF tokens was set the cookies path to `/` as my js code otherwise couldn't see the cookie when the cookie was returned from an ajax request. Is that something that would normally need to be done for CSRF token cookies or is that something o

[2016-09-13 01:14] othrayte opened #137 "CsrfAuthorizer authorises all requests after session token expires"
The `CsrfAuthorizer` seems to consider not having a `sessionToken` (`== null`) as authorized if either parameter or header token are missing (`== null`). As I only set the header token results in all requests after the token expires as being authorized.

So far the work around has been to create a custom `CsrfAuthorizer` that additionally checks that the `sessionToken` is not `null` at [CsrfAuthor

[2016-09-13 07:52] leleuj commented on #135
Regarding the "maxAge issue", I merged the PR for master and 2.4.x branch, but the PR for 2.3.x branch fails at compilation.

About the `/` path, the CSRF cookie should normally be set on the context path of the web app. I guess we are talking about the `CsrfTokenGeneratorAuthorizer` component and indeed, there is no way to set the cookie domain or path. The domain used is the `context.getServerNa

[2016-09-13 08:58] leleuj commented on #137
You're right: it's more a pac4j issue than a specific Play one. We should check that the `sessionToken` is not `null` either.

Would you mind submitting a PR for that (on the pac4j project)? Thanks

[2016-09-14 01:05] othrayte commented on #135
Re: cookie path issues,

The cookies by default had paths that reflected the request, so `/api/x/y/z` had cookies with the path `/api/x/y/z`.

It turned out that cookies with the url and cookie path `/api/x/y` were not being stored by the browser but cookies with the url and cookie path `/api/x` or `/x` were being stored. Most of this testing was done with ajax requests and I haven't yet determine

[2016-09-14 07:07] leleuj commented on #135
This is a use case I didn't think about. You're right, the path should be settable and have a default value of `/`.

And we should do the same for the domain: it should be settable and have a default value of `context.getServerName()`. Same for the `isSecure` property (`false` by default) and `ishttpOnly` (`false`  by default).

Would you mind adding that to the PR you prepare for: #137 ? Thanks

[2016-09-16 06:28] leleuj commented on #135
Replaced by: https://github.com/pac4j/pac4j/issues/673

[2016-09-16 06:28] #135 closed

[2016-09-16 06:28] leleuj commented on #137
Replaced by: https://github.com/pac4j/pac4j/issues/673

[2016-09-16 06:28] #137 closed

[2016-09-23 11:48] #127 closed

[2016-10-02 05:40] djriffel opened #142 "CSRF validation fails with form-posted parameter"
I'm not sure if I'm missing something here, or if the library is erroneously dropping the CSRF parameter from a form-body post. I always get forbidden when using the "csrfCheck" authorizer when coming from a form posting action that was wrapped with a "csrfToken" authorizer.

Here's what I found in my digging:

When using the org.pac4j.play.scala.Security.Secure() method, the WebContext is getting

[2016-10-03 09:09] leleuj commented on #142
I haven't checked it by myself, but I can only believe you because converting from Scala to Java is painful.

Woud you mind submitting a PR for that?

Can you create a unit test or add a CSRF check on the form post we have on the demo: https://github.com/pac4j/play-pac4j-scala-demo to confirm the fix?

Thanks

[2016-10-05 10:39] richard77 opened #144 "Using SecurityFilter loses cookie information pac4j 2.5.0"
I'm currently setting up a keycloak server OIDC indirect client in combination with play 2.5.8 and play-pac4j 2.5.0 with pac4j-oidc 1.9.2.

When using **@Secure(clients="my_client_name", authorizer="my_authorizer")** to secure my resource in the controller everything works as expected.

When using the **SecurityFilter** with the following settings:
[code]
I now get the following ```TechnicalExcept

[2016-10-05 12:03] leleuj commented on #144
Do you have the problem with `play-pac4j` 2.4.1? We've done some fixes in this version as well.

I just updated the Scala demo and indeed I can reproduce the issue (using the Facebook login which has a state also): https://github.com/pac4j/play-pac4j-scala-demo/commit/45069491c8834df2f50ae1e225254952e47654e5

@hugovalk @entropicdrifter Any idea?

[2016-10-05 12:13] richard77 commented on #144
```play-pac4j``` 2.4.1 works.
Seems to have been introduced in ```play-pac4j``` 2.5.0

[2016-10-10 17:31] djriffel commented on #142
I think I can put something together in the next 1-2 weeks. I'll let you know when I get a PR together.

[2016-10-10 17:38] leleuj commented on #142
I was about to remind you about this issue. Thanks

[2016-10-11 07:25] leleuj commented on #144
I suspect there might be something around the build of the web context in Scala, like in https://github.com/pac4j/play-pac4j/issues/142. I will investigate.

[2016-10-12 13:57] richard77 opened #145 "Context args are lost using SecurityFilter pac4j-play 2.4.0"
When using a ```DirectClientV2``` the ```UserProfile``` should be stored in the context args.

Using the ```SecurityFilter``` it creates a ```PlayWebContext``` using the requestHeader. Any data set on this object is lost when accessing it from a controller or template.
Resulting in not being able to retrieve the ```UserProfile``` using the ```ProfileManager```.

Using an ```@Secure``` Annotation o

[2016-10-12 16:32] leleuj commented on #145
There is a bunch of issues with the `SecurityFilter` (https://github.com/pac4j/play-pac4j/issues/144 and https://github.com/pac4j/play-pac4j/issues/142 also) which mainly comes from the way the `PlayWebContext`.

I'm investigating, but any help will be appreciated.

[2016-10-13 07:21] richard77 commented on #145
I already assumed it might be related, but the main difference between this and #144 is that this also occurs in 2.4.0
I'll try to see what happens in a debugger session. Although I must say I'm not so into Scala.

[2016-10-13 08:53] leleuj commented on #145
Me neither. Maybe we'll end up rewriting the filter in Java ;-)

[2016-10-13 09:00] leleuj opened #146 "Create a `PlayCookieStore`"
based on the Play native session (in a cookie).

[2016-10-13 09:02] richard77 commented on #145
Hi,

Quick evaluation: After using the securityFilter Play only keeps the RequestHeader object and creates a new HttpContext using the requestHeader tags. Setting a value on this instead the context.args retains the value for the controller action call.

[2016-10-13 09:22] leleuj commented on #145
I'm not sure to follow you: do you have a code example? Or (better) can you submit a PR?

I easily configured the filter in a Play Scala app, but encounter a strange error in a Play Java app (`Error injecting constructor, java.lang.ClassCastException: [Ljava.lang.Object; cannot be cast to [Lplay.mvc.EssentialFilter;`).

Here is my simple `Filters` though:

[code]

How do you configure the `Securit

[2016-10-13 09:32] leleuj commented on #146
The Play session cookie is only signed, not encrypted. So data can not be tampered, be read. This might not be a suitable solution if we don't use an encryption layer in addition to the signature.

[2016-10-13 10:00] richard77 commented on #145
I did not alter any code yet. I've configured my clients normally with use of the securityFilter.

I was running a debugging session in my IDE and put a test value in the RequestHeader tags instead of the map. Those values were available to me later on in the Controller method. The args hashMap (the one with the profiles set) was lost.

My configuration has an IPClient with a IpRegexAuthenticator

[2016-10-13 12:09] richard77 commented on #145
Short update:
As I understand Filters now, play will never have the delegate Action available in the ```securityGrantedAccessAdapter```.
The RequestHeader.tags is a HashMap<String,String> object so keeping a reference to the Profile instance is not possible too.
I've looked at the Http.Flash which is copied into the Http.Context, but that also is a HashMap<String,String> underneath. So keeping poi

[2016-10-13 13:43] leleuj commented on #144
Even if can reproduce this issue with the Scala demo: https://github.com/pac4j/play-pac4j-scala-demo, the issue does not show up in the Java demo: https://github.com/pac4j/play-pac4j-java-demo

[2016-10-13 13:43] leleuj commented on #144
Very very strange!

[2016-10-13 14:05] leleuj commented on #145
I can reproduce the issue (in Java for now), but indeed, things are fairly complicated. I have different `Http.Context` so the args are lost.
Returning `null` when there is not delegate is certainly the source of evil.

[2016-10-13 17:51] leleuj commented on #145
The main issue is that we don't have any request attributes in Play.

I've been digging a little more and now I see your point with the `args` of the `Context`, built from the `tags` of the `request(header)`. One is a map of strings, the other one a map of objects. So we could copy back the `args`  into the `tags`, but we would need to serialize them because `tags` are only strings.

Another optio

[2016-10-13 18:39] leleuj commented on #145
In fact, an additional unique app identifier will be also necessary to avoid any mix between requests of various applications sharing the same cache.

[2016-10-14 05:46] leleuj commented on #145
I found the way to declare the filter in Java (and fixed the documentation BTW):

[code]

[2016-10-14 06:39] leleuj commented on #144
It was an easy fix finally: https://github.com/pac4j/play-pac4j/commit/5de6e44b7eab8868e15ac749e969161dbaec68c2

I committed it on 2.6.0-SNAPSHOT and 2.5.1-SNAPSHOT versions.

Can you close the issue if everything is ok? Thanks

[2016-10-14 07:17] richard77 commented on #144
Always good to have an easy fix. 👍
I've tested it with my application and all seems ok now. Closing the issue.
Thanks!

[2016-10-14 07:17] #144 closed

[2016-10-14 08:30] richard77 commented on #145
Play has a key for this ```http.session.cookieName``` to ensure uniqueness of session values. if that's what you mean.

More in line with the philosophy of Play we could introduce a FlashStore similar to the SessionStore. Flash is automatically request scoped and would not pollute the sessionStore.
That said, putting the values in the SessionStore is the best solution with the minimum effort.

Let

[2016-10-14 08:52] leleuj commented on #145
But the FlashStore only accepts strings, doesn't it? I'll take a look.

[2016-10-17 12:33] leleuj commented on #145
I just submitted https://github.com/pac4j/play-pac4j/pull/148: I now use the flash scope for the HTTP attributes (by serializing them) and the tags as a hack to pass the profiles between the Java context and the `SecurityFilter`.

It works and it's proper enough. IMHO.

[2016-10-17 12:39] leleuj commented on #145
For 2.5.x as well: https://github.com/pac4j/play-pac4j/pull/149

[2016-10-17 12:43] leleuj commented on #145
I'm not sure we really need to fix that for play-pac4j 2.4.x as the version to use for Play 2.5 is play-pac4j 2.5.

[2016-10-18 08:18] leleuj commented on #145
@richard77 : merging the fixes. Would you mind confirming the patch and closing the issue?

[2016-10-18 08:18] #145 closed

[2016-10-18 11:44] richard77 commented on #145
I'll do that. Thanks!
Op di 18 okt. 2016 om 10:18 schreef LELEU Jérôme <notifications@github.com>

[2016-10-19 01:44] jainh opened #150 "Performance"
Is there any bench-marking done on these libraries like play-pac4j (scala), pac4j-ldap, pac4j-openidconnect ? or performance testing.

[2016-10-19 07:24] leleuj commented on #150
Please ask your questions on the mailing list.

[2016-10-19 07:24] #150 closed

[2016-10-20 05:26] leleuj opened #151 "Capability to set the SecurityLogic"
pac4j v1.9.3 has been released with a `SecurityLogic` property in the `Config` object

[2016-10-20 05:27] leleuj commented on #151
@richard77 : this is for you

[2016-10-20 05:30] richard77 commented on #151
Thanks!
Op do 20 okt. 2016 om 07:27 schreef LELEU Jérôme <notifications@github.com>

[2016-10-20 16:52] leleuj commented on #142
Any update on this?

[2016-10-24 10:09] leleuj commented on #151
A fairly easy one: https://github.com/pac4j/play-pac4j/pull/152

[2016-10-24 10:47] leleuj commented on #142
I now reproduce your issue with the Java demo: https://github.com/pac4j/play-pac4j-java-demo/commit/845955492ca929edfb626dcb4a6156923d10307b I will take a look at your fix

[2016-10-25 02:19] kedall opened #153 "logout not working as expected"
Hi,
I am trying the demo play app and the session is still valid even after i click the logout url - i did not change the default implementation:

[code]

How does one logout ?

[2016-10-25 06:00] vjkoskela opened #154 "Possible FormClient Initialization vs Validation Bug"
Terrific library, looks very likely to acceleration our AuthN/Z needs. However, either I am misunderstanding something from the play demo (https://github.com/pac4j/play-pac4j-java-demo/blob/master/app/modules/SecurityModule.java) or there seems to be an initialization vs validation bug with FormClient (https://github.com/pac4j/pac4j/blob/master/pac4j-http/src/main/java/org/pac4j/http/client/indire

[2016-10-25 07:02] vjkoskela commented on #142
Hi, not sure if this is related, but I would like to configure the Pac4J ```CallbackController``` to enforce the Play standard CSRF (e.g. as enabled via ```@RequireCSRFCheck```) on POST. Is this accomplished by adding the csrfAuthorizer as shown in your patch to play-pac4j-java-demo above?

[2016-10-25 11:15] leleuj commented on #153
Very strange! I test it regularly and it works. The application session is destroyed. Notice the identity server session is not destroyed (this is planned for version 2).
Use the mailing list for questions.

[2016-10-25 11:15] #153 closed

[2016-10-25 11:24] leleuj commented on #154
It works for me: can you check you really have the `pac4j-http` library in version 1.9.4?

[2016-10-25 11:26] leleuj commented on #142
The pac4j CSRF and the Play CSRF are two different mechanisms, not related.

[2016-10-25 11:27] #151 closed

[2016-10-25 15:23] vjkoskela commented on #154
Yes, I do have the pac4j-http 1.9.4; however, it looks like play-pac4j 2.5.0 was bringing pac4j-core 1.9.2. Forcing that dependency to 1.9.4 resolves the issue. Apologies for not catching that. Thanks!

[2016-10-25 15:23] #154 closed

[2016-10-25 15:29] vjkoskela opened #155 "Play CSRF on CallbackController"
Is there an existing way to configure the CallbackController POST to enforce the Play standard CSRF? If not, would you be open to adding such a feature? I can contribute some code if you have any thoughts on where to start with this. Also, I'm open to alternatives if you have any best-practice recommendations in this regard.

Thanks,
Ville

[2016-10-25 17:01] leleuj commented on #154
No problem. Since version 2.0.0, things will be easier: http://www.pac4j.org/docs/backward-compatibility.html vs http://www.pac4j.org/1.9.x/docs/backward-compatibility.html

[2016-10-26 03:54] djriffel commented on #142
@leleuj sorry for the delay on this, if you want I can get a PR done this week for this fix (if you haven't already started on it).

[2016-10-26 04:19] kedall commented on #153
hi,
 im not sure what you consider working - but to me - if i logout - i expect to be asked to login again to visit a protected page.

https://vid.me/QuTj

if i run the code - it does not look like it does that - it thinks im logged in even after I click logout.

[2016-10-26 06:12] millross commented on #153
Your browser is caching the basic auth credentials and is resubmitting the relevant header - see https://en.wikipedia.org/wiki/Basic_access_authentication . They all do it. Use the browser dev tools to examine the requests as you submit them and you’ll see it happen. That’s not a bug in pac4j, it’s because there’s no formal mechanism for telling the browser to discard the credentials following log

[2016-10-26 08:47] leleuj commented on #155
The only use case I see where you would call the `CallbackController` from the application with a POST request is for a login form submission, right?

In that case, you can certainly get a Play CSRF token, put it in the form and check it on the CallbackController using a filter or overriding this class as a new controller to add the `@RequireCSRFCheck` annotation.

I don't think there is anything

[2016-10-26 08:48] leleuj commented on #142
Please go ahead.

[2016-10-26 12:20] KarelCemus commented on #145
Hi, I just updated from 2.5.0 to 2.5.1 and it suddenly flooded my logs with `ClassNotFoundException`. I've already spent couple hours investigating what went wrong and it turned out that it is this PR. More specifically, the reimplementation of `PlayWebContext#getRequestAttribute`.  Inspecting the change I figured out kinda major changes in the implementation. These should not be published as a bu

[2016-10-26 12:43] KarelCemus commented on #145
OK, so there are couple issues I found out:

- In comments above, you assume flash scope equals request scope which is not. It is a bit longer and intended to pass value among 2 requests where the first one should be Redirect. In consequence, there are these warnings in logs:
[code]
Using flash scope for this is pretty nasty solution
- Second, since 2.5.1 you invoke `JavaSerializationHelper`, whic

[2016-10-26 13:47] #155 closed

[2016-10-26 13:49] leleuj opened #156 "Use args for request attributes (instead of flashscope)"
To avoid serialization / deserialization performance issues.

[2016-10-26 13:51] leleuj commented on #145
I agree: minor versions should not have breaking changes (whether at runtime or compilation). But I was in a hurry to release pac4j v1.9.4 which fixes a security issue and then play-pac4j v2.5.1. It was mostly bad luck, but we can do better. In fact, I didn't expect so many troubles.

I guess you suffer from this exception: https://github.com/pac4j/pac4j/blob/master/pac4j-core/src/main/java/org/pa

[2016-10-26 13:55] KarelCemus commented on #145
Ad the exception: You are right, but that is what I mention here:

When I added that package into trusted packages, I the program goes into https://github.com/pac4j/pac4j/blob/master/pac4j-core/src/main/java/org/pac4j/core/util/JavaSerializationHelper.java#L110 and fails with ClassNotFoundException again. Please see the call stack, it is visible there.

And regarding the hacks.... you should consi

[2016-10-26 14:22] #156 closed

[2016-10-26 14:52] leleuj commented on #145
I reverted to using the args instead of the flash scope for the "request attributes". It should solve your problem. Can you confirm everything is ok with version 2.5.2-SNAPSHOT?

I'll take a look at your issue separately.

[2016-10-26 15:50] millross commented on #153
Your browser is caching the basic auth credentials and is resubmitting the relevant header - see https://en.wikipedia.org/wiki/Basic_access_authentication <https://en.wikipedia.org/wiki/Basic_access_authentication> . They all do it. Use the browser dev tools to examine the requests as you submit them and you’ll see it happen. That’s not a bug in pac4j, it’s because there’s no formal mechanism for

[2016-10-27 00:52] djriffel commented on #142
Added PR for the fix as well as the CSRF example. I didn't add a unit test, as I was unsure how to grab the token out of the response to test the result of the "csrfToken" authorizer index page. (I think this might be stored in the cache under the pac4j session, but I couldn't figure out how to get it)

[2016-10-27 05:23] KarelCemus commented on #145
I tried 2.5.2-SNAPSHOT and it seems OK. Logs are clean and everything works but I tested it only briefly.

Thanks!

[2016-10-27 07:07] leleuj commented on #145
Thanks. I will do more tests to ensure everything is ok for a 2.5.2.

[2016-10-27 07:09] leleuj commented on #142
Your fix works, but only if you use the `Secure` function and not the `SecurityFilter`: can you move your logic into the constructor of the `PlayWebContext`: https://github.com/pac4j/play-pac4j/blob/master/src/main/java/org/pac4j/play/PlayWebContext.java#L55? Thanks

[2016-11-01 19:07] djriffel commented on #142
Seems that implementing similar Request building code in Java is even more difficult. I'm getting a noSuchMethodError on trying to call play.api.mvc.Request$.MODULE$.apply(RequestHeader, RequestBody), even though it worked fine when called with the same parameter types using Scala.

It might take some time to go through this and try debugging why it's having issues.

[2016-11-02 18:38] entropicdrifter commented on #146
What if you put a signed and encrypted token inside the Play session cookie as a value?
If you did it that way, couldn't you just wrap a JwtGenerator and use [this method](https://github.com/pac4j/pac4j/blob/master/pac4j-jwt/src/main/java/org/pac4j/jwt/profile/JwtGenerator.java#L51)?
Of course you'd have to decrypt it from there, but that shouldn't be too difficult, right?

[2016-11-05 04:31] leleuj commented on #142
In that case, can you just copy / paste this logic inside the `SecurityFiler` as well?

[2016-11-05 04:53] leleuj commented on #146
I have always been reluctant to have clear data in the Play cookie, but using JWT is a good idea.

We should clear the profile from the sensitive data (for size and security): https://github.com/pac4j/pac4j/blob/master/pac4j-core/src/main/java/org/pac4j/core/profile/UserProfile.java#L329 and then, encrypt it with the `JwtGenerator` and decrypt it using the `JwtAuthenticator`.

[2016-11-14 17:35] leleuj commented on #142
@djriffel : Any update on this? Do you need some help?

[2016-11-16 14:51] leleuj commented on #142
Taking a closer look at this, I realize that the body is not available on the `RequestHeader` object, so your solution does not apply here. Passing the token as a GET parameter does the job.

I'm closing this issue. Feel free to reopen it if you want.

[2016-11-16 14:51] #142 closed

[2016-12-02 17:00] henrymana opened #161 "JSON support broken: Secure(parser = parse.json)"
version 2.6.0 breaks json support

This used to parse the request body into a JsObject

`
Secure(parser = parse.json, clients = null, authorizers = null, multiProfile = false)(action)
`

It now fails with a class cast exception (unable to cast JsObject to AnyContent)

Issue around line 80:
https://github.com/pac4j/play-pac4j/blob/master/src/main/scala/org/pac4j/play/scala/Security.scala#L80

I rol

[2016-12-04 09:47] leleuj commented on #161
Indeed, we were too naive in this direct cast, we should check the type of request first. We'll fix that in a 2.6.1 release.

Would you mind submitting a patch for this?

[2016-12-05 17:33] henrymana commented on #161
Cool, I can look into it but won't be able until late December.

[2016-12-06 09:36] leleuj commented on #161
No problem. Thanks

[2016-12-08 08:54] KarelCemus commented on #161
+1 for this major issue. It does not affects only JSON support. It dies [here](https://github.com/pac4j/play-pac4j/blob/master/src/main/scala/org/pac4j/play/scala/Security.scala#L80)

[code]

[2016-12-08 09:02] leleuj commented on #161
Yes, sure, your contribution will be highly appreciated.

[2016-12-08 09:04] KarelCemus commented on #161
I'm just looking at it but I do not see any other solution than pattern match on request body which is kinda ugly solution. The good thing is that AnyContent is sealed trait but still I'd prefer some easier solution. Thoughts?

[2016-12-08 09:20] KarelCemus commented on #161
I've read the discussion about #142 and I'm not sure I follow. I don't understand why do you convert scala requests to Java, personally, I don't like this approach. Isn't there other easier solution on parallel `Security` implementation? It might be better when somebody more insightful take a look at this fix.

[2016-12-08 09:44] leleuj commented on #161
We need to the check the request type to avoid impossible cast: can we just test the request type and have two logics (the old one and the current one)? Or is this what you propose with pattern matching?

To your second question: pac4j is written in Java as well as the heart of play-pac4j, the Scala Security and SecurityFilter components thus need to convert Scala request to Java.

[2016-12-08 09:53] KarelCemus commented on #161
Basically yes, I do. Look [here](https://github.com/playframework/playframework/blob/d96d42e4baa2261d0e0a9c36518f6921e247e402/framework/src/play/src/main/scala/play/api/mvc/BodyParsers.scala#L33). All these subtypes of AnyContent it must support, basically, if you are not familiar with Scala, in this example, you can see the pattern matching like switch with `instanceOf`. So yes, we could check fo

[2016-12-08 10:37] leleuj commented on #161
I don't think we are interested in all subtypes supported. Either it's an `AnyContentAsFormUrlEncoded` and we have some custom logic to get the data and build a new `PlayWebContext` or we just create a `PlayWebContext` from the request.

If you're comfortable with this change, can you submit a PR ? Thanks.

[2016-12-12 15:35] #161 closed

[2016-12-12 15:37] leleuj commented on #161
@henrymana @KarelCemus  : can you confirm everything is ok for you with version 2.6.1-SNAPSHOT ?

I'll do a release very soon...

[2016-12-12 15:38] KarelCemus commented on #161
I think so, I've tested the scenario which failed before, and it works now. But I have not tested CSRF protection.

[2016-12-12 15:44] leleuj commented on #161
OK. I'll check CSRF...

[2016-12-15 17:37] leleuj commented on #161
The version 2.6.1 has been released.

[2016-12-16 06:55] leleuj opened #163 "Overwrite DeadboltHandler#getPermissionsForRole to @RoleBasedPermissions works"
@mikefarias @heat @millross

[2016-12-17 10:42] leleuj commented on #163
The first step is to return all the permissions of the user profile.

[2016-12-18 17:44] heat commented on #163
Ok. It was implemented.
#165
But has a concept mistaken.
Debugging it `ConstraintLogic#roleBasedPermissions` I found that the list of permisions returned from `getPermissionsForRole` are checked with  current `Subject#getPermissions`.

So it's always authorized.
I'm  working in a `delegate` approach for correct solution.

[2016-12-19 11:48] KarelCemus commented on #161
Thanks for the release, however, it seems like you have forgotten to publish it into [Maven repository](http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22org.pac4j%22%20AND%20a%3A%22play-pac4j%22).

[2016-12-19 13:01] leleuj commented on #161
You're completely right, I just did it. It should really be available within a few hours this time.

[2016-12-19 13:19] leleuj commented on #163
Thanks for testing it thoroughly. This "role based permissions" concept is not fully clear to me yet. Waiting for your proposal...

[2016-12-21 14:14] heat commented on #163
The anotation `@RoleBasedPermissions` will check all permissions from a given Role to current Subject Permissions.
For instance,
A Role ADMIN has ['email.search', 'attach.open' ] permissions. We can't have a easy Pattern to check all permissions. Using `@RoleBasedPermissions` will check all that permissions and going to authorize even if Subject isn't in ADMIN role but has the permissions.

[2017-01-02 09:39] #163 closed

[2017-01-11 14:59] #146 closed

[2017-01-12 20:24] entropicdrifter opened #167 "State object returns from PlayCookieStore as String"
I'm working on a PR to fix this issue and any others that crop up in the debugging process. Currently it looks like I'll need to check during `get()` calls if `key.contentEquals("oidcStateAttribute")` and if it does, cast the object to a String, then wrap it in a State constructor before returning it.

[2017-01-12 22:00] leleuj commented on #167
This is very strange: objects should be restored with their original type.

I'm wondering if we should not implement a different algorithm and only use the JwtGenerator for the user profiles.
Something like:

- if the value is a String, save it as "#str" + value
- if the key is the user profiles, generate a JWT and save it as "#jwt" + jwt
- otherwise, serialize the value and save it as "#ser" + se

[2017-01-13 16:59] entropicdrifter commented on #167
Okay, so I'm working on implementing the solution you've suggested. I have some questions:
is every (non-profile) Object that we'll be working with Serializable?
in cases where we get a map of user profiles (for multi-profile sessions) should I make a JWT of the whole map, or does it make more sense to make a JWT of each profile, then serialize the whole map?
Other than those things, I think I ful

[2017-01-16 09:10] leleuj commented on #167
I guess so. Every object put in the session should be serializable.

Good point: we have a map of profiles and not only one user profile, so we need to make a JWT out of the whole map (it should be easier that way).

[2017-01-23 09:28] ArkadyKarev opened #168 "Client, that not present into "clients" list, has ability to call method"
Hello!

I trying to implement attaching social network account to existing user profile. For this purpose I created endpoint and annotated it with
`@Secure(clients = "FacebookClient")`
It working smoothly for authentication when user not logged in. But when I authenticated with FormClient, I can call this method directly, and FacebookClient authenticator doesn't triggered, despite the fact that Fo

[2017-01-23 10:20] leleuj commented on #168
No, this is the expected behaviour: the `clients` parameter says what authentication methods will be triggered if the user is **not** authenticated. So if you are already authenticated by a `FormClient`, you can access a URL protected by another client.

To trigger a Facebook authentication in addition to the form login page one, you need to call it explicitly.
See the demos: https://github.com/pa

[2017-01-23 10:20] #168 closed

[2017-01-23 10:24] leleuj commented on #167
@entropicdrifter I'd like to release play-pac4j v2.6.2 before starting version 3 (based on pac4j 2). Do you think you can finish that this week or should I revert your changes and wait for a brand new PR?

[2017-01-23 18:35] entropicdrifter commented on #167
You should revert it. I think I might have a way to finish it, but if I'm right it would mean you can't use the `PlayCookieStore` and the `SecurityFilter` at the same time.

[2017-01-23 20:08] entropicdrifter commented on #167
If you'd like me to make a PR with the solution I have right now, I can. I could spend the rest of the week making it prettier for release and adding documentation talking about its limitations.

[2017-01-24 10:20] leleuj commented on #167
That's strange: why the `PlayCookieStore` would not work with the `SecurityFilter`?

Let's try to finish that this week and at worst, I'll remove it next week before the release if things are not quite satisfactory.

[2017-02-02 17:51] leleuj opened #170 "Upgrade to pac4j v2"

[2017-02-03 18:18] bharal opened #171 "Documentation is pretty bad"
Hi

where do i find what imports to use for the SecurityModule you've put in the documentation? Can someone just add it in please?

[2017-02-03 19:01] leleuj commented on #171
There are demos where the pac4j capabilities are demonstrated, especially: https://github.com/pac4j/play-pac4j-java-demo/blob/master/app/modules/SecurityModule.java and https://github.com/pac4j/play-pac4j-scala-demo/blob/master/app/modules/SecurityModule.scala

And feel free to submit a pull request to improve the documentation.

[2017-02-03 19:01] #171 closed

[2017-02-03 19:03] millross commented on #171
Also note that the demo is - I think - referenced in the documentation.

[2017-02-05 04:11] bharal opened #172 "Please put in the imports in the documentation"
Hi,

I'm requesting that you put the imports in the code samples in the documentation. I don't know how to make pac4j work, and to use the sample SecurityModule I need the import statements

thanks

[2017-02-11 07:43] leleuj commented on #172
This is something you can easily contribute thanks to our previous discussion: https://github.com/pac4j/play-pac4j/issues/171

[2017-02-16 09:04] gpgekko commented on #145
As a note: in the upcoming Play 2.6, the [old tags field is replaced with an attributes field](https://www.playframework.com/documentation/2.6.x/Migration26#Request-attributes), which accepts objects instead of just strings. Perhaps it can be useful to this case, since the tags were considered but not used due to its string only limitation.

[2017-02-16 13:52] leleuj opened #173 "Upgrading to Play 2.6"
and especially getting rid of the tags mechanism in favor of the new attributes one.

[2017-02-16 13:53] leleuj commented on #145
Thanks for the information. Indeed, we have had troubles handling request attributes properly.

I tracked that here: https://github.com/pac4j/play-pac4j/issues/173

[2017-02-16 17:22] richard77 commented on #145
Cool! That solves many issues we had with the Filter implementation.
Thanks for the heads-up.
Op do 16 feb. 2017 om 14:53 schreef LELEU Jérôme <notifications@github.com>

[2017-02-23 23:12] mmoulou opened #174 "auto login after register"
Hello,

Is there anyway (using pac4j) to autologin new user after subscription?

Thanks

[2017-02-24 07:26] leleuj commented on #174
It's better to ask your question on the mailing list for others to read the discussion: https://groups.google.com/forum/?fromgroups#!forum/pac4j-users

To answer your question, you cannot do that automatically. You need to do it manually.
For example, you can save a created profile in the security context using the `ProfileManager` (beware that the `AuthorizationGenerator`s need to be called expli

[2017-02-24 07:26] #174 closed

[2017-03-02 06:57] #170 closed

[2017-03-02 06:58] leleuj commented on #172
Closed by #https://github.com/pac4j/play-pac4j/pull/175

[2017-03-02 06:58] #172 closed

[2017-03-30 18:39] nik opened #176 "Registration"
I just want to verify that registration doesn't come out of the box and that I'm not missing something? I saw in a random pac4j google group topic that you guys were planning on adding registration for 1.9, and it's already 3.0 but I don't see any documentation on it?

[2017-03-30 18:42] millross commented on #176
AFAIK we haven't got to it yet. We're not a very big team, and I believe we all have day jobs, so there's only so much that's going to get done.

Also we've not yet released 2.0 of pac4j, so your numbers are a little out.

[2017-03-30 18:45] nik commented on #176
Oh I meant the play-pac4j version (3.0.0-RC2). But that makes sense, thanks a lot for the quick response

[2017-03-30 18:49] leleuj commented on #176
It's fairly recent, but it has been developed in pac4j v2.0 for LDAP, SQL and MongoDB. See: http://www.pac4j.org/docs/authenticators/ldap.html, http://www.pac4j.org/docs/authenticators/sql.html and http://www.pac4j.org/docs/authenticators/mongodb.html.

The `XAuthenticator` classes are now replaced by the `XProfileService` components which know how to validate credentials but also how to create, u

[2017-03-30 18:49] #176 closed

[2017-03-30 18:49] millross commented on #176
Ah - now I understand. However, I'm assuming we'll build some registration stuff into core for commonality. Also the implementation versions such as vertx-pac4j (my baby) and play-pac4j may jump forward ahead of core since we switched to semantic versioning so any API break forces a major version jump - a major version may not mean "lots of new functionality" . vertx-pac4j is on 3.0.0-SNAPSHOT for

[2017-03-30 18:50] millross commented on #176
I didn't know we already had something already there - nice one Jérôme :)

[2017-03-30 18:52] nik commented on #176
Awesome @leleuj , I didn't realize Mongo supported registering as well but I now see the first sentence on that page which I clearly missed `pac4j allows you to validate username/password and create, update and delete users on a MongoDB database`

Will be playing with this. Thanks @millross , @leleuj ! Fastest response times I've ever dealt with

[2017-03-31 17:47] nik commented on #176
@leleuj  / @millross hey guys..so i'm back with a question. after mucking around a bit, i've got the mongo setup working with registering and persisting users with this code:

[code]

I'm hoping to make this app do stateless auth with JWTs (it's a simple REST api). My login looks something like this (which isn't working) ..

[code]

I guess my two main questions are: first off, am I so far on the

[2017-04-03 10:18] leleuj commented on #176
- First question: you should never directly manipulate the `DirectFormClient`: it must be defined in the `SecurityModule`,  then used on some URL with the `Secure` annotation: `@Secure(clients = "DirectFormClient")`. This will perform the authentication based on the form parameters.
For a direct client, the authentication will only be available for the current HTTP request. Thus, you can get the u

[2017-04-03 15:09] nik commented on #176
@leleuj Thanks for the response. So as far as I am understanding from the library, I thought that you would use `@Secure(clients = "DirectFormClient")` for a URL that needs to be authed. So in my case I wouldn't lock down the `Signup` or `Login` endpoint because you're still not authed at that point?

In my JWT case, I thought that I should use `directformclient` directly to sign up and login with

[2017-04-05 06:14] leleuj commented on #176
As your app is mostly a REST api, your solution makes sense: use a `DirectFormClient` just for login and generate a JWT you return for future calls.

[2017-04-05 16:56] nik commented on #176
Thanks, so far it's working. The other thing I realized reading through the source code is that starting in version 2, the library reads attributes through deserialization. This seems to prevent me from having attributes live on my mongo collection and kind of just packs everything into one -- `serializedProfile`. Why was this done this way? If I want to query my collections by attributes, I can't

[2017-04-05 17:27] leleuj commented on #176
You have the two options in fact (using the `serializedprofile` attribute from pac4j or your own custom attributes). You just need to define the list of custom attributes via the constructor or the `setAttributes` setter.
See: http://www.pac4j.org/docs/authenticators/mongodb.html

[2017-04-05 17:31] nik commented on #176
Okay got it. It's just that it's deprecated so I figured it's not really meant to be used at this point. Also -- just wanted to note that when serializing an `ObjectId` type doesn't work well. I had to do `.toString()` on it when serializing to properly deserialize it. Not sure why.

[2017-04-06 18:49] leleuj commented on #176
You're right: marking `deprecated` the old attributes support was too much: I'll revert that before 2.0 final release.

About the issue you encountered with the `ObjectId`, do you have some example with which I could reproduce it?

[2017-04-06 20:31] nik commented on #176
I don't have any out of the box code, but basically if I do this:

[code]

then run
` ((MongoProfileService) directFormClient.getAuthenticator()).create(mongoProfile, webContext.getRequestParameter("password"));`

to actually persist the data, and then login & fetch the profile with:

[code]

in a debugging session, doing `profile.getAttribute("personId")` returns some weirdness that is not an `Ob

[2017-04-11 13:02] leleuj commented on #176
It seems very strange as the `ObjectId` class is `Serializable`. I opened: https://github.com/pac4j/pac4j/issues/891 for tracking.

[2017-04-13 14:56] samudurand opened #177 "Using Secure with Ldap"
I managed to configure the pac4j-ldap to give me an authenticator that I can use to connect with Ldap (basically using only ldaptive only), but I cannot find a way to give the resulting pac4j LdapService to Play so that I can use the ```Secure``` and filter features provided by the play-pac4j integration.

Can you help me figure out how to combine the LdapService created by following those instruc

[2017-04-14 13:32] leleuj commented on #177
The `LdapProfileSevice` is an `Authenticator`. You should use it with a HTTP client, like `new DirectBasicAuthClient(ldapProfileService);`.

[2017-04-14 13:32] #177 closed

[2017-04-27 13:38] samudurand commented on #39
For anyone interested, I had exactly the same requirement today and the best method I found is to disable the security by using the AnonymousClient
[code]

Then you simply have to switch between the two modules in the application.conf to enable/disable security check

[2017-05-04 13:34] leleuj commented on #167
Where are we on this? Still planning to work on this?

[2017-05-05 03:24] entropicdrifter commented on #167
Yes, sorry, my main project has had me pretty busy the last few months. I do still plan to figure this out.

[2017-05-05 05:54] leleuj commented on #167
No problem. I do some cleaning sometimes, let's keep it open then ;-)

[2017-05-15 10:39] studentitm opened #178 "Issue while creating single authentication client"
I was trying to integrate CAS client in play-pac4j.
Play version: 2.4.2
play pac4j version: 2.3
I only have CAS server so i wanted to authenticate with only it, instead of other methods too.
But the example in demo app uses all the clients(CAS, FACEBOOK, etc.)
My code in SecurityModule:-
val casClient = new CasClient("https://abc.com/login")
    casClient.setLogoutHandler(new PlayCacheLogoutHandle

[2017-05-17 12:53] leleuj commented on #178
This stack trace is hard to read, can you re-format it? For sure, you can have only one client, like the `CasClient`.

[2017-05-17 12:53] #178 closed

[2017-05-19 11:13] taggiasco commented on #173
Hello,
I pulled the master and created a new branch for Play 2.6 (upgrade-play-2.6).
I changed Play version (2.6.0-M5 for the moment) and added Google Guice as a dependency.
The tests do not pass yet. There is a problem with the injection, it looks a class is not found (which is normal because it was deprecated in PLay 2.5 and has disappeared from Play 2.6).
However, are you interested in a PR ? I

[2017-05-21 07:10] leleuj commented on #173
Yes, I'm really interested in the upgrade to Play 2.6, but I'm sure the Play community is a lot more ;-)

For now, the master is on 3.0.1-SNAPSHOT, but I plan to create a 3.0.x branch and upgrade the master to 4.0.0-SNAPSHOT when it is appropriate. So your PR must be opened for the master branch (and you should update it to 4.0.0-SNAPSHOT). You'll also need to submit PR for the demos:
https://gith

[2017-05-23 09:09] gmethvin opened #180 "Need better Guice examples"
In your README, you demonstrate creating a Guice `AbstractModule`, but you seem to be doing all the initialization in the module. This is problematic because [modules should be fast and side effect free](https://github.com/google/guice/wiki/ModulesShouldBeFastAndSideEffectFree) and also because it's very difficult to extend. Generally a Guice module should avoid creating actual instances of things

[2017-05-23 13:49] joantune opened #181 "Access Subject or Profile from template"
Hi guys!

I think that it's pretty common to be able to require access to either the Subject or the Profile from within a Twirl template.

So I think that a (better ?) method should be found and recorded on the documentation

I struggled a bit with this, but I was able to come up with it inspired on the `subjectPresent` and other Deadbolt helpers

for that I simply added the following imports to t

[2017-05-23 19:52] gmethvin opened #182 "Blocking in default thread pool"
I noticed a problem in your `SecureAction`: https://github.com/pac4j/play-pac4j/blob/master/src/main/java/org/pac4j/play/java/SecureAction.java#L106

it looks like you're calling `CompleteableFuture#get` within a thread executing on the default execution context (`HttpExecutionContext` by default is bound to the default thread pool, normally configured for CPU-bound operations). This can easily le

[2017-05-24 06:43] leleuj commented on #180
You're completely right. We have two demos to demonstrate this library: https://github.com/pac4j/play-pac4j-java-demo and https://github.com/pac4j/play-pac4j-scala-demo

Would you mind submitting pull requests to upgrade the demos in that way? Thanks

[2017-05-25 04:57] leleuj commented on #181
Yes, I agree: the `Profile` (and `Subject`)  should be available by default in the template.

Would you mind submitting a pull request for that (targeting the master branch)?

[2017-05-25 05:18] leleuj commented on #182
At a general level, pac4j is primarily a blocking library as we target many many frameworks, but indeed, it may be an issue like the SessionStore. One of the pac4j committer (the maintainer for Vert.x) is working on that, but it will take time: https://github.com/pac4j/pac4j/issues/180

Regarding the implementation in SecureAction, we rely on the pac4j core `SecurityLogic` which calls the `Securit

[2017-05-25 12:09] millross commented on #182
Quite importantly, SessionStore being blocking is likely to be small potatoes compared with blocking clients (many of which will make blocking http calls to remote servers as part of the authentication process). There wouldn't be much point in making SessionStore alone non-blocking and async, because in the end the pac4j API is fundamentally synchronous, which means blocking a thread somewhere dow

[2017-05-25 17:28] leleuj commented on #182
@millross : No problem

@gmethvin : pac4j-async: https://github.com/millross/pac4j-async

[2017-05-25 20:22] gmethvin commented on #182
@leleuj I don't understand the API well enough to know the best solution. You need to return immediately from the authentication action and then handle the action asynchronously. I think that's what you're doing here: https://github.com/pac4j/play-pac4j/blob/master/src/main/scala/org/pac4j/play/filters/SecurityFilter.scala#L89

Also, this should definitely be labeled as a bug.

[2017-05-31 06:25] leleuj commented on #182
@taggiasco Matthieu, any idea on this?

[2017-06-28 05:20] taggiasco commented on #182
@leleuj Hi ! I'm sorry, I didn't notice you were asking me.
I can see the mentioned problem with the get() call on a completable future and I understand it. But if you change it, you need to change the SecurityLogic too in order to use a CompletableFuture instead of a simple SecurityGrantedAccessAdapter. Doesn't seem to a backward compatible change, is it ?
@gmethvin I don't think it's a bug, beca

[2017-06-28 07:45] leleuj commented on #182
@taggiasco In fact, the `SecurityGrantedAccessAdapter` can return anything as it's parametrized. It may be not backward compatible, but as we work on 4.0, it can be the right time to change that (if it is possible).

[2017-06-28 07:47] taggiasco commented on #182
@leleuj then why not give it a try

[2017-06-28 07:47] #173 closed

[2017-06-28 07:49] leleuj commented on #182
Sure, waiting for your PR ;-)

[2017-06-28 11:24] gmethvin commented on #182
@taggiasco This is a bug in that it causes a significant performance degradation. It will be especially problematic with a large number of simultaneous requests, since each one blocks a thread.

[2017-06-28 11:32] taggiasco commented on #182
@gmethvin I understand. From that point of view, I agree with you.

[2017-06-28 12:40] millross commented on #182
Unfortunately there's a wider problem here for async frameworks such as play: all i/o in pac4j is fundamentally blocking at present. Any http calls for example also block. The CompletableFuture.get mentioned above is the tip of a rather large iceberg. Working on pac4j-async is showing me just how tightly coupled to blocking i/o the current pac4j API currently is. Fixing the CompletableFuture.get w

[2017-06-29 02:02] gmethvin commented on #182
The main problem here is that you're blocking on arbitrary user code. That for me is what makes it a bug rather than a feature request. If you had only the actual authentication operations happening in a separate thread pool from the main Play thread pool, then at least you're limiting the scope of the blocking to the pac4j stuff. As it is now you don't really know what you're blocking on.

[2017-07-12 13:54] balyszyn opened #183 "Unable to implement play-pac4j 3.0.0 on playframework 2.6.1 (version 4.0.0 missing)"
Please, make change in pac4j-play for using Async Cache Api (play 2.6 ehcache module)

[2017-07-17 18:23] leleuj commented on #182
Any proposal on this?

[2017-07-17 18:24] leleuj commented on #183
Can you elaborate a little more on this?

@taggiasco : still planning to update the play-pac4j demos with the latest v4.0.0-SNAPSHOT of play-pac4j?

[2017-07-18 08:22] taggiasco commented on #182
@leleuj Did not find any time for this...

[2017-07-18 08:22] taggiasco commented on #183
@leleuj yes I'll do it as soon as I can..

[2017-07-26 10:04] kildievr commented on #183
Also 4.0.0 RC not in maven https://mvnrepository.com/artifact/org.pac4j/play-pac4j

[2017-07-26 10:11] leleuj commented on #183
As explained in the README (https://github.com/pac4j/play-pac4j#development), snapshots are available in the Sonatype repo: https://oss.sonatype.org/content/repositories/snapshots/org/pac4j/play-pac4j/4.0.0-SNAPSHOT/

[2017-07-27 05:56] schmielinski opened #186 "SecurityFilter not work in play 2.6.2"
I'm using 4.0.0-SNAPSHOT version but with
**play.filters.enabled+=org.pac4j.play.filters.SecurityFilter** or **play.http.filters = "filters.Filters**
I'm getting:
Error injecting constructor, java.lang.NoSuchMethodError: play.api.mvc.EssentialFilter.$init$(Lplay/api/mvc/EssentialFilter;)V
  at org.pac4j.play.filters.SecurityFilter.<init>(SecurityFilter.scala:67)
  at org.pac4j.play.filters.Securit

[2017-07-28 05:18] taggiasco commented on #186
Hi @schmielinski ,

I tried to add the filter with
`play.filters.enabled+=org.pac4j.play.filters.SecurityFilter`
and the application has started correctly.

It seems you encounter an injection error because a method does not exist. Are you sure that Play 2.6.2 is used ?

[2017-07-28 07:48] schmielinski commented on #186
Hi @taggiasco,

Thank you for your answer. I checked again my build.sbt file and it turned out that I have not changed the scala version for 2.12.x. Now everything works. Thanks!

[2017-07-28 07:48] #186 closed

[2017-08-01 08:59] wwbakker commented on #183
@leleuj  The snapshot version works for us. Could you release it?

[2017-08-01 13:59] leleuj commented on #183
Thanks for the feedback. We still need to update the demos and I plan to do more tests on it. Then, I'll do the release.

[2017-08-01 14:12] wwbakker commented on #183
👍

[2017-08-03 02:39] robinspollak commented on #183
is there currently a way to implement the 4.0.0 snapshot to be used with scala 2.12 and play 2.6?

[2017-08-03 04:33] schmielinski commented on #183
I'm using in my project 4.0.0-SNAPSHOT and play 2.6.2 with scala 2.12 and everything works fine.
@leleuj few days ago wrote hot to use it.

[2017-08-05 11:02] leleuj commented on #183
We're working on updating the demos to play-pac4j 4.0.0-SNAPSHOT: here is the PR in progress for Scala: https://github.com/pac4j/play-pac4j-scala-demo/pull/42/files It should give you a valuable insight of what to do.

[2017-08-12 09:04] leleuj opened #187 "Properly handle session/transient cookies"

[2017-08-13 12:52] #187 closed

[2017-08-16 11:48] rexxx81 commented on #183
@leleuj Could you please also provide the PR in progress for the Java demos?

[2017-08-16 21:09] #183 closed

[2017-08-17 06:06] leleuj commented on #183
@rexxx81 Here it is: https://github.com/pac4j/play-pac4j-java-demo/pull/44

It was fairly straightforward...

[2017-08-17 06:35] leleuj opened #189 "Use attributes instead of tags"
https://www.playframework.com/documentation/2.6.x/Migration26#Request-tags-deprecation

[2017-08-18 15:44] rexxx81 commented on #183
@leleuj  Thank you for the quick help!

[2017-08-22 12:50] leleuj commented on #167
What's the status on this issue?

[2017-08-22 12:50] leleuj commented on #181
What's the status on this issue?

[2017-08-22 12:52] leleuj commented on #180
Any update on this?

[2017-08-23 03:13] EstaWang opened #190 "play-pac4j 4.0.0 not found on Maven repo"
libraryDependencies += "org.pac4j" % "play-pac4j" % "4.0.0"
will result in a 404 not found

[2017-08-24 06:40] leleuj commented on #190
play-pac4j v4.0.0 has not been released yet, but I planned to cut an RC1 soon as I have received many inquiries about that.
So the 4.0.0-SNAPSHOT can be found in the Sonatype snapshots repository: https://oss.sonatype.org/content/repositories/snapshots/org/pac4j/play-pac4j/4.0.0-SNAPSHOT/

[2017-08-24 06:40] #190 closed

[2017-08-27 07:38] leleuj opened #191 "Upgrade to pac4j v2.1"

[2017-08-28 06:59] bropoCorpd opened #192 "Getter/Setter with differing types in UserProfile"
a userProfile that extends pac4j's UserProfile, cannot be persisted with the new PojoCodecProvider, from Mongo 3.5. this is due to the fact that when bson tried to serialize/deserialize the POJO, it doesn't find a matching signatures for getter/setter for the field id (and probably for some other fields like Gender/Locale).
the error we get : o**rg.bson.codecs.configuration.CodecConfigurationExcep

[2017-08-28 07:06] bropoCorpd commented on #180
I agree with gmethvin, the demo is too simple, and doesn't show how to PROPERLY use pac4j, with subscription and how to save user profiles in database for authorization generators.
I indeed used a provider to set the different authorizers and generators

[2017-08-29 15:37] leleuj commented on #192
Yes, for now, I propose a workaround, but this must be fixed in the next major version 3.0.

Let's close this issue to open a new one in the core project: https://github.com/pac4j/pac4j/issues/976

[2017-08-29 15:37] #192 closed

[2017-08-29 15:59] leleuj commented on #180
The demo already proposes many authentication systems. But I'll welcome any pull request for improvement.

[2017-08-30 16:19] #189 closed

[2017-08-30 16:25] leleuj commented on #182
@gmethvin @taggiasco What do you think of https://github.com/pac4j/play-pac4j/pull/194?

[2017-08-31 18:20] #191 closed

[2017-09-04 21:31] KarelCemus opened #196 "Controller is deprecated and conflicting"
Since Play 2.6, `play.api.mvc.Controller` trait has been deprecated. When there are new classes extending [`Security`](https://github.com/pac4j/play-pac4j/blob/ddc5165e480ca053883c89ddb56135dd272e402d/src/main/scala/org/pac4j/play/scala/Security.scala#L31), then they use either deprecated `Controller` or conflict with the new `BaseController` trait.

[2017-09-06 07:46] leleuj commented on #196
Yes, it's deprecated. What do you propose?

[2017-09-06 10:16] KarelCemus commented on #196
Extend `BaseController` instead. I believe it is suggested migration.

[2017-09-07 07:00] leleuj commented on #196
Yes, we can do that. For the `Security` trait, the only thing we really need is the `BodyParsers`, but at the same time, the trait is meant to be used in a controller so I guess it makes sense.

PR: https://github.com/pac4j/play-pac4j/pull/198

@gmethvin : any opinion?

[2017-09-08 13:23] #196 closed

[2017-09-08 18:05] #182 closed

[2017-09-27 17:41] aleksandrmelnyk opened #200 "How to save user data retrieved from oauth"
Hi guys,

is there a working example of saving to db user details from oauth reponse, eg. from facebook  auth?

thanks in advance

[2017-09-28 10:00] vidma commented on #180
+1 👍 . just ran into an issue where I had to inject some mysql DAO for my custom authenticator, and it was impossible to do within `configure()`.

The docs of `AbstractModule` and `pac4j-play(*)` were quite miserable, so I had wasted a few hours trying to work around this.
Apparently `@Provides` solved it easily...

here's some sample code for Scala:

[code]

Cheers!

[2017-09-28 10:13] vidma opened #201 "profileManager.get(true) randomly throws java.util.concurrent.TimeoutException"
Context: `play 2.6.3`,  `"org.pac4j" % "play-pac4j" % "4.0.0-SNAPSHOT"` and `pac4jVersion = "2.1.0"`.

I occasionally get `java.util.concurrent.TimeoutException` thrown by `profileManager.get(readFromSession = true)` (it's hanging/blocking for a few seconds where it shouldn't, and throws the exception afterwards).

this code is called from a controller action (basically based on example in https:/

[2017-09-28 10:13] vidma commented on #201
cc @leleuj

[2017-09-28 12:34] leleuj commented on #200
Please use the mailing lists for questions.

No example that I'm aware of, but someone may share his own source code on the mailing list.

[2017-09-28 12:36] leleuj commented on #180
Your pull requests on the demos and for the README will be more than welcome!

[2017-09-28 12:37] leleuj commented on #201
Do you have some specific configuration for EhCache? I mean: is it shared between nodes or something which could explain the hanging...

[2017-09-28 12:40] millross commented on #201
Also any idea what your load is? The get could be doing blocking i/o under the hood, if distributed you might be blocking on a network call. Under load this would escalate very quickly if you have a limited threadpool for play to work on. I'm not sure if play assumes non-blocking i/o or not though, so this is conjecture.

[2017-09-28 12:41] vidma commented on #201
it's default play cache config (i.e. no ehcache config).
I get the error on my laptop with `sbt run`, with only a single request at once...

[2017-09-28 13:08] leleuj commented on #201
Have you already encountered this problem with the 4.0.0-SNAPSHOT or is it a very recent issue?

[2017-09-28 13:12] vidma commented on #201
I tried 4.0.0-RC1 which never worked (was always throwing this error or a similar one), and `4.0.0-SNAPSHOT` works 4/5 times (since yesterday or the day before).

just in case FYI, here's an excerpt from my build.sbt:

[code]

[2017-09-28 16:36] vidma commented on #201
even more weird with play 2.6.5 - it logs out after a few visits.
weird enough, downgrading to `play 2.6.2` - seems to work so far. at least I didn't notice issues yet over ~20 visits.

does it have anything to do with how play-pac4j is built ?

[2017-09-30 20:52] aleksandrmelnyk commented on #201
same issue here - play 2.6.5, after successful login, one request isAuthenticated true, all after that all next requests got false, session killed, no profiles retrieved from session. Easy to replicate, just need to upgrade play framework with basic/default dependencies and configuration.

[2017-10-01 06:57] aleksandrmelnyk commented on #201
also can confirm:
play 2.6.2 - seems working
play 2.6.3 - timeoutexception
play 2.6.5 - session killed after first request after authentication

[2017-10-02 05:59] leleuj commented on #201
OK. Very strange that a minor upgrade of the Play framework breaks things so strongly. Will do some tests.

[2017-10-02 06:36] leleuj commented on #201
Even stranger, I cannot reproduce the issue with both demos (Java and Scala). I updated them to Play 2.6.5 with success: @vidma @aleksandrmelnyk can you confirm you have the issue with at least one of the two demos?

[2017-10-02 06:37] leleuj commented on #201
Demos: https://github.com/pac4j/play-pac4j-scala-demo and https://github.com/pac4j/play-pac4j-java-demo

[2017-10-02 07:41] aleksandrmelnyk commented on #201
weird, but with the scala demo could not replicate on 2.6.5. Will debug later more.

[2017-10-02 08:22] leleuj commented on #201
@aleksandrmelnyk Thanks. Weird indeed, but at least, it's a clue to find out the cause of the issue.

[2017-10-02 08:26] millross commented on #201
Does it depend what session storage is being used?

[2017-10-02 08:46] leleuj commented on #201
@millross I don't think so, as we all use EhCache (as defined in the dependencies)

[2017-10-02 09:10] vidma commented on #201
@leleuj to replicate on 2.6.3 you need to visit the page which reads the profile from session (`profileManager.get(true)`, expecting timeoutexception ).

tried 2.6.5 and 2.6.3 demo, however unable to replicate so far (but had seen the issue on our app). I have no time to dig this deeper now.

---

 maybe it depends on how/where is the session accessed in the controller or is the anonymous client e

[2017-10-02 19:18] aleksandrmelnyk commented on #201
@leleuj Actually I just noticed that you didn't upgrade the scala demo project. Please, in project/plugins.sbt, change
`addSbtPlugin("com.typesafe.play" % "sbt-plugin" % "2.6.2")`
to
`addSbtPlugin("com.typesafe.play" % "sbt-plugin" % "2.6.5")
`

[2017-10-03 03:17] leleuj commented on #201
Good catch! I get the errors now. I will investigate further...

[2017-10-03 04:25] henrymana opened #202 "Add OIDCProfile refreshToken for KeyCloak"
It seems there is no way to refresh the token currently. I saw the comments in this conversation and thought I would create a ticket.

https://groups.google.com/forum/#!searchin/pac4j-users/refresh|sort:relevance/pac4j-users/ZhX3LhCX1OQ/KyU1-3w3BgAJ

I can contribute but it'll take me some time. I am creating this issue to start a conversation on what would need to be done.

[2017-10-03 06:08] leleuj commented on #202
Yes, this is part of the OpenID Connect protocol, but we haven't implemented yet. I'm sure this is completely feasible.
This will be part of pac4j and thus available to play-pac4j.
We are developing the version 3.0.0 of pac4j untill the end of the Year, so you can certainly get in that version.

Please open the same issue on the pac4j project instead.

[2017-10-03 06:08] #202 closed

[2017-10-03 06:35] leleuj commented on #201
With Play 2.6.3, I encounter the `TimeouException`, it seems that the problem comes from the Play cache implementation. I read several comments about that and found: https://github.com/playframework/playframework/pull/7802

@gmethvin is this really fixed in Play 2.6.5?

With Play 2.6.5, the authentication works but the profile does not seem to be kept in the cache more than a few milliseconds.

Ha

[2017-10-03 15:41] henrymana commented on #202
Thank you. I'll play with the code and re-open it later on then.

[2017-10-05 14:09] vidma commented on #181
so the only slightly nasty (or bureaucratic) part is that injecting stuff into template requires injecting the template into the controller.
  I'd guess this would be even weirder with template inclusion/layout...

see https://www.playframework.com/documentation/2.6.x/ScalaTemplateUseCases

example how template DI might work:

template:
[code]

controller:

[code]

[2017-10-05 14:15] vidma commented on #181
alternatively, maybe making it an implicit at controller level, and requiring an implicit at template  would make it kinda bearable...

https://github.com/playframework/twirl/issues/47

[2017-10-09 09:33] joantune commented on #181
Sorry guys, I haven't had the time for this. @vidma  I would check how Deadbolt did it (not that it's the best way, but we can get inspiration from their solution), I think it's the latter option of the implicits that they use (?)

[2017-10-09 17:26] vidma commented on #181
however, the nasty part is the amount of boilerplate needed - inject stuff all over around.

`inject EVERY view into controller` ->
`inject layout into EVERY view` ->
`inject securityHelpers in layout`

[2017-10-10 08:24] leleuj commented on #201
OK. I debugged into the cache and indeed, the timeout has changed from seconds to milliseconds between 2.6.2 and 2.6.5. This explains the fact the profile is not saved long enough in the cache and is expired at the second call...

I will certainly change the default timeout in play-pac4j!

[2017-10-10 15:38] leleuj commented on #181
I'm in line to make the profile(s) easily accessible in templates, but the gain is not really clear here.  A pull request would help.

What about a `BaseController` in Java like the `Security` trait in Scala with a `getProfiles()` method from which the profiles could be passed to the view?

[2017-10-10 17:40] #201 closed

[2017-10-11 08:31] vidma commented on #181
so there's these different approaches possible:
1. where controller explicitly passes the profiles (so each controller must be aware of auth lib used), example below
2. profiles or anything else are injected into the template without controller involvement, e.g. https://github.com/pac4j/play-pac4j/issues/181#issuecomment-334476446
3. possibly bad: passed somehow magically (global state, requestHea

[2017-10-13 06:29] leleuj commented on #181
Indeed, changing the controller would create a tight coupling. I like your solution with the implicit `Pac4jProfileHelper`. I'm not sure how the `Pac4jProfileHelper` would get access to the current `requestHeader` though (I guess the `PlaySessionStore` would be injected).

Let's open two PRs: one in this current library, the other one in a demo to see the change in action...

[2017-10-13 06:30] leleuj commented on #181
I plan to release play-pac4j v4.0.0 soon, it's been long-awaited, we'll add that in the next minor version (4.1)...

[2017-10-13 07:31] vidma commented on #181
template:
`@(params:...)(implicit requestHeader: RequestHeader)`

controller:

[code]

yes

[2017-10-13 07:50] leleuj commented on #181
OK. We still need to change the template with the `implicit requestHeader`, but the `Pac4jProfileHelper` is just at the controller level (instead of all actions).

Sounds good to me. Looking forward to your pull requests.

[2017-10-20 11:59] marioserty opened #204 "How to link users login"
First of all thanks for this package, it have been a great experience working with it.

I'm currently developing a web application with OAuth2 where I need to allow users to login with a normal DB account, Facebook account and Google account. Searching, I found that there's no way to link multiple logins with the 'linkedid' attribute, and a I really need to link a user that logged with same email

[2017-10-21 04:06] leleuj commented on #204
Currently, there is no way to do that unless something developed specifically.

There was an issue for that, but I closed it as people tend to request features they don't really need. Reopened: https://github.com/pac4j/pac4j/issues/952

Feel free to submit a contribution.

[2017-10-21 04:06] #204 closed

[2017-10-21 04:37] marioserty commented on #204
Thanks for de reply.

What alternatives I can use for doing this link ? I really need to link users login by same email to know wich user has a "premium" account or a "standard" account in my app.
Do you recommend any lib?

[2017-10-21 04:43] leleuj commented on #204
I recommend implementing something custom. Save multiple ids in the linkedid attribute for example (separated by commas) and subclass the `DbProfileService` to deal with that (save and load).

[2017-10-21 04:45] marioserty commented on #204
Thank you very much, me and my team will try to do that.

[2017-10-21 04:46] leleuj commented on #204
Or you could try to contribute to the open issue ;-)

[2017-10-24 13:52] joantune opened #205 "Play 2.6.6 EhCache with disk persistence"
@leleuj the issues that made you write that line on the `Readme.md` about not using play 2.6.3 are related with this:
https://github.com/playframework/playframework/issues/7953

I would suggest that we do something like:

https://github.com/playframework/playframework/issues/6207#issuecomment-237003022

when using Cache - I might offer a PR soon WDYT?

[2017-10-24 14:47] joantune commented on #205
This issue is also solved by doing what is stated here:

https://www.playframework.com/documentation/2.6.x/JavaCache#Setting-the-execution-context

i.e.  adding this:

[code]

to the config

[2017-10-26 00:42] hc0208 opened #206 "Cannot resolve constructor 'PlayCacheSessionStore(com.google.inject.Provider<T>)'"
when I run my application from PlayFramework(2.6), I found an error in `SecurityModule`.

[code]
I fixed the error as described below.
[code]

version
play-pac4j: 4.0.0
pac4j-oauth: 2.0.0

[2017-10-28 14:53] leleuj commented on #205
Both versions (2.6.3 and 2.6.5) have different issues.

What you propose fixes the error of the `TimeoutException` which happens in version 2.6.3.

But in the version 2.6.5, there was a bug on the time unit, which forces developers to reset the timeout: `playCacheSessionStore.setTimeout(3600000);` as it's in milliseconds instead of seconds.

So I have no problem to change the documentation to repl

[2017-10-28 15:01] leleuj commented on #206
Please use the mailing list for any question.

[2017-10-28 15:01] #206 closed

[2017-10-31 09:09] KarelCemus opened #207 "Support Scala 2.11 and Scala 2.12"
I wanted to use `play-pac4j 4.0.0` with `Play 2.6.6` and Scala 2.11 but it seems it does not work. It throws the `ClassNotFoundException: org.pac4j.play.scala.Security$class`error.

I browsed the code base and figured out the following:

- this lib links only `_2.12` dependencies and scala plugin for maven then compiles the library only against Scala 2.12
- I wanted to compile it myself for 2.11 b

[2017-11-02 11:15] leleuj commented on #207
We use to have Scala 2.10 and Scala 2.11 supports for Play 2.3, but we cleaned things for Play 2.4 and kept Scala 2.11 (and only one library instead of 3). Then, for play-pac4j v4 (and Play 2.6), we switched from Scala 2.11 to Scala 2.12.
But you're right: there is a Scala 2.11 version for Play 2.6.x.
It was a bit reckless, but as I'm mostly on my own on this library, I'm always reluctant de maint

[2017-11-03 09:04] KarelCemus commented on #207
I am not sure how much is Scala 2.11 used, haven't read any statistics, but it is officially supported by Play 2.6.

I don't know how about Maven but SBT makes maintenance of multiple scala versions pretty simple and can publish into regular Maven repo.

[2017-11-06 18:21] leleuj commented on #207
According to Google trends, both Scala versions are still widely used: https://trends.google.com/trends/explore?q=scala%202.11,scala%202.12

[2017-11-07 17:46] leleuj opened #208 "Handle matchers"
In the `Secure` action and in the `SecurityFilter`...

[2017-11-09 06:58] prashanthd opened #210 "Cors issue"
I have been facing issue with cors for last 5 days. Initial I configured how play framework(2.5v) docs provided but it is not working. Then I have seen your documentation [here](https://github.com/pac4j/pac4j/blob/master/pac4j-core/src/main/java/org/pac4j/core/authorization/authorizer/CorsAuthorizer.java). I have followed same but it is not working. Even I have added cors headers in  DbProfileServ

[2017-11-09 07:22] prashanthd commented on #210
following routes are configured

GET     /                              						@controllers.Application.index
GET     /loginpac                      				 		@org.pac4j.play.CallbackController.callback()
POST    /loginpac                      						@org.pac4j.play.CallbackController.callback()
GET     /callback                   				 		controllers.CustomCallbackController.callback()
POST    /callback

[2017-11-09 11:54] leleuj commented on #210
There is some CORS configuration in the demos (https://github.com/pac4j/play-pac4j-java-demo and https://github.com/pac4j/play-pac4j-scala-demo) that I remember testing it successfully.

And please use the mailing list for questions.

[2017-11-09 11:54] #210 closed

[2017-11-21 07:33] #208 closed

[2017-11-21 16:14] leleuj opened #215 "Handle body parameters in Scala"

[2017-11-21 17:39] #215 closed

[2017-11-21 20:10] leleuj commented on #180
`@Provides` is now used in the `SecurityModule`.

[2017-11-21 20:10] #180 closed

[2017-11-22 07:44] leleuj opened #218 "Add getLocation() in PlayWebContext"

[2017-11-22 08:14] #218 closed

[2017-11-27 07:21] leleuj commented on #207
I just created a new version 5.0.0-SNAPSHOT with both supports for Scala 2.11 and Scala 2.12.

Would you mind testing the Scala 2.11 support? Thanks

[2017-11-27 07:21] #207 closed

[2017-11-30 11:10] KarelCemus commented on #207
Hi, thanks for the support. I tested it and encountered several implementational difficulties. I have prepared a PR to propose some changes, only waiting for #222 to know what code base to use - your or with shared sources.

[2017-11-30 11:35] KarelCemus commented on #207
I pushed [the commit into my fork](https://github.com/KarelCemus/play-pac4j/commit/204ee9a4602ebf8d628a8c2f6df1e99f7786e9bb), I'll open the PR later when #222 gets either merged or closed.

I encountered these issues:

- `Secure` enforced `AnyContent`, which makes smooth integration with other actions very difficult (or I'm missing something)
- `Secure` expected `List[P] => Action` instead of just

[2017-12-01 15:17] leleuj opened #223 "Check that the httpActionAdapter is not null in the SecureAction"

[2017-12-01 22:00] leleuj commented on #207
Any valuable help will be always appreciated ;-)

We must try to make upgrades as seamless as possible, but indeed, the version 5.0.0 is the perfect timing for relevant breaking changes.

- Removing `AnyContent`: seems a good idea
- Adding `SecurityComponents`:  also

I'm a bit less convinced by the changes proposed with `Secure` and `SecureAction`, but this must be thought and discussed.

Can you

[2017-12-04 09:31] stephenjeba opened #224 "Play Cache timeout manual configuration is missing"
Is there any way to increase play cache timeout.
By default the cache expire in 3600sec.

[2017-12-04 10:37] schmielinski opened #225 "NullPointerException org.pac4j.play.PlayWebContext.getRequestParameters"
Hi,
I'm having this issue after updating from 4.0.0 to 4.1.0. In PlayWebContext.getRequestParameters you use
request.hasBody() condition which returns true but my body is null. So thats why request.body().asFormUrlEncoded() throws NullPointerException

Stacktrace:
Caused by: java.lang.NullPointerException
	at org.pac4j.play.PlayWebContext.getRequestParameters(PlayWebContext.java:160)
	at org.pac4j

[2017-12-04 16:53] leleuj commented on #224
Create a `PlayCacheSessionStore`, get the `PlayCacheStore`, set the timeout...

[2017-12-04 16:53] #224 closed

[2017-12-04 16:58] leleuj commented on #225
OK. I will fix that onthe  3.1.1 and 4.1.1 versions as soon as possible...

[2017-12-04 21:20] leleuj commented on #225
In fact, the problem does not happen on the 3.1.0. Only for 4.1.0.

It should be fixed in 4.1.1-SNAPSHOT: @schmielinski can you confirm it's ok? Thanks

[2017-12-05 08:16] schmielinski commented on #225
Yes, now it's ok. Thanks for quick fix

[2017-12-05 18:01] leleuj commented on #225
Thanks for your feedback. I'm releasing the version 4.1.1...

[2017-12-05 18:01] #225 closed

[2018-01-24 07:10] #223 closed

[2018-03-07 07:44] leleuj commented on #205
Closing. Feel free to reopen with a contribution.

[2018-03-07 07:44] #205 closed

[2018-03-29 19:50] thomhickey opened #231 "saveRequestedUrl/redirectToOriginallyRequestedUrl not working in Play 2.6.12"
Hello,

I've got SAML2 authentication working with a Play 2.6.12 app, but the handling of pac4jRequestedUrl to save and then redirect to the originally requested url is not working as intended in pac4j. Here's what I'm seeing:

- log out, clear cookies
- request secured url
- o.p.c.e.DefaultSecurityLogic::saveRequestedUrl is invoked and successfully writes to the session store
- pac4j redirects to

[2018-03-30 08:14] leleuj commented on #231
Please use the mailing list for your questions. I think you need this setting: https://github.com/pac4j/play-pac4j-java-demo/blob/master/conf/application.conf#L68

[2018-03-30 08:14] #231 closed

[2018-05-24 08:30] leleuj commented on #181
Sure. Go ahead and I'll review them.

[2018-05-25 11:59] tuxBurner commented on #181
Example is here: https://github.com/tuxBurner/play-pac4j-scala-demo/tree/issue/%23181

[2018-05-28 16:37] tuxBurner commented on #181
Hi @leleuj i added the documentation :)

[2018-05-29 07:55] #181 closed

[2018-06-04 13:59] ldaume opened #233 "No username parameter without annotation"
Hi,
if I use the `@Secure` annotation I get the query params `username` and `error` after a failing login (`http://localhost:9000/login?username=test&error=CredentialsException`) but if I use the configuration inside the `application.conf` like `pac4j.security.rules = [ ...` I get none.

[2018-06-04 14:55] leleuj commented on #233
Indeed, would you mind submitting a PR to handle that? Thanks

[2018-06-06 09:30] vidma commented on #167
what's the status on this?

[2018-06-06 09:58] leleuj commented on #146
Yes. Go ahead

[2018-06-06 13:35] vidma commented on #167
if the issue is still present I assume this is the issue with JWTGenerator deserialization.
maybe we can live as is if that works with most common auth methods.

I'll try to test it with Forms & SAMLv2.

[2018-06-13 11:46] TheChifer opened #235 "A stale requested url is resolved when there is no requested url supplied."
This is the scenario:
I have an app with 2 clients, a SAML client and a FormClient. The user request a resource secured by the SAML client and gets redirected to the IDP, rather than fulfilling the login process, user enters the url of the FormClient login form - /loginform(NOT a url secured by FormClient). Now there is no requested URL hence the expectation is that user will be redirected to Call

[2018-06-13 12:27] leleuj commented on #235
Please use the pac4j-users mailing list for questions: http://www.pac4j.org/mailing-lists.html

[2018-06-13 12:27] #235 closed

[2018-06-13 12:37] #167 closed

[2018-07-07 15:51] Mule52 opened #236 "pac4j-saml and pac4j-kerberos 3.0.0 have references on Spring Core 5.0.0 causing errors with Play 2.6 Java form helpers"
I am using Play 2.6.15 and Pac4J 3.0.0 (both are the latest at the time of this issue). When I use Play's Java form helpers (https://www.playframework.com/documentation/2.6.x/JavaFormHelpers), I get runtime errors (fatal errors that shut down my server) when using Play's Java form helpers, such as @helper.inputText(userForm("name")). The errors I get are ...

[error] a.a.ActorSystemImpl - Uncaught

[2018-07-09 17:20] leleuj commented on #236
OK. I see. In fact, we don't have a strong dependency on Spring v5, we could use Spring v4, but I generally update all dependencies to their latest versions when releasing a major version (pac4j v3).

So I think we could try to release a play-pac4j fix version v6.0.1 with an explicit dependency on Spring v4.3.11.

Would you mind submitting a PR for that? Thanks

[2018-07-20 12:25] suhinini opened #237 "PlayWebContext incorrectly sets port for requests coming from load balancer"
PlayWebContext incorrectly uses `80` as a default port ignoring `request.secure()`: https://github.com/pac4j/play-pac4j/blob/master/shared/src/main/java/org/pac4j/play/PlayWebContext.java#L181

This is causing problems when library is used in apps that are working from behind load balancers or reverse proxies and security and port of the call is defined by `Forwarded` headers. In such scenario `re

[2018-07-23 16:09] leleuj commented on #237
Thanks for reporting. Would you mind submitting a PR to fix that (on both the master and 6.0.x branches)? Thanks

[2018-07-24 06:03] suhinini commented on #237
Sure. Let's try with master first.

[2018-07-25 13:47] eximius313 opened #239 "Support for Play 2.7"
Do you have any plans to support Play 2.7 (currently `2.7.0-M2`)?

[2018-07-27 11:48] #237 closed

[2018-07-27 11:52] leleuj commented on #239
Sure. It will be for the new version 7 of play-pac4j.

[2018-07-27 17:49] tprk77 opened #241 "Securing WebSockets"
I've been trying out Scala, Play, and PAC4J, and have had mostly good results. My problem is that I would also like to secure a WebSocket, as well as Actions. It seems `play-pac4j` doesn't support this.

I've looked at the code very briefly in `Security.scala`. I could try to do a PR for a `SecureWebSocket` but I'm not very confident in my ability to implement something like that. (Do you have any

[2018-07-28 10:41] leleuj commented on #241
Can't we secure a web socket using the regular `SecurityFilter`?

[2018-07-29 00:36] tprk77 commented on #241
Unfortunately, no. I did try this but apparently Play filters don't support filtering WebSockets. They only work with Actions, which doesn't include WebSockets, which are a Flow. It was suggested elsewhere to use `WebSocket.acceptOrResult` and check authentication before returning the Flow.

[2018-07-30 07:00] leleuj commented on #241
The heart of the security in pac4j is the `DefaultSecurityLogic`, this is the component you must call in the web socket to know if the access is granted or not. It should be close to what is done in the `SecurityAction`,  except that the delegate would be an `Actor` in that case, right?

[2018-07-31 05:59] leleuj commented on #236
I have been able to reproduce the issue, I will work on a fix...

[2018-07-31 15:14] leleuj commented on #236
I haven't been able to find a solution at the play-pac4j library level. Just use the `exclude` keyword in the `build.sbt` file: https://github.com/pac4j/play-pac4j-java-demo/commit/b6d9a252c1df8c11e4aab24a8ef21b41d0220b46

[2018-07-31 15:14] #236 closed

[2018-08-28 07:23] carstenlenz opened #242 "Classes relying on member injection are more hard to setup in providers"
Hi,

after upgrading to 6.x I noticed that some classes we used to setup in a `@Provides` method stopped working correctly throwing TechnicalExceptions because member were `null`.

For e.g. the LogoutController needs:
[code]

When you do a `bind(...).toInstance(logoutController)` everything works but we use a `@Provides` method to use a settings class:
[code]
This fails at runtime with an exceptio

[2018-08-28 09:10] leleuj commented on #242
Sure, we could add constructors and setters: can you open a PR for that? Thanks

[2018-09-07 11:04] unkarjedy opened #243 "parametrize CallbackLogic in CallbackController"
For some reason org.pac4j.play.CallbackController has a hardcoded CallbackLogic:
[code]
Callback logic can be set in `org.pac4j.core.config.Config`:
[code]
but it is not used.

It would be great to be able to parametrize the `callbackLogic`, parhaps to read it from config after it is injected.

[2018-09-07 11:05] unkarjedy commented on #243
probably related with https://github.com/pac4j/play-pac4j/issues/242 because config is injected

[2018-09-11 15:33] leleuj commented on #243
Generally, you only have one `CallbackController` and thus one `CallbackLogic`. This is a bit strange to be able to set the `CallbackLogic` at the `Config` logic, I honestly don't remember the reason behind this design.
Do you really have a use case for that?

[2018-09-12 10:01] unkarjedy commented on #243
@leleuj The only reason we have only one `CallbackController` is just that it delegates the real work to `CallbackLogic`. There is no need for extra abstraction `interface CallbackLogic` while we do not allow user to change it. The main purpose of `Strategy Pattern` is to be able to change the logic at a runtime.

In my current prod project, I've created a custom `MyCallbackLogic extends DefaultCa

[2018-09-13 13:56] #243 closed

[2018-09-13 13:58] leleuj commented on #242
@carstenlenz any news on this?

[2018-09-18 12:23] sasankad opened #247 "renewsession is not implemented to avoid session fixation issue"
Current implementation of PlayCacheSessionStore returns false on renewSession() method. We should have proper session renewal to avoid session fixation

[2018-09-18 12:40] leleuj commented on #247
Feel free to submit a PR for that. Thanks

[2018-09-19 04:45] TheChifer commented on #247
I have the same issue. Session fixation is getting flagged as a high risk issue in pen testing.

My attempt was to extend CallbackController(MyCallbackController) and PlayCacheSessionStore(MyPlaySessionStore)

In MyCallbaclController when calling defaultCallbackLogic.perform(...) passed inputRenewSession=true. This causes callbacklogic to initiate session renewal.

The problem I had with PlayCache

[2018-09-19 08:19] leleuj commented on #247
Before we dive into the technical details of a mitigation solution, I'd like you to describe how a session fixation attack is possible with Play framework. Thanks

[2018-09-19 11:58] sasankad commented on #247
owasp has described how to test for session fixation. Simply put, if the session cookie is not renewed after authentication you have a session fixation vulnerability.

https://www.owasp.org/index.php/Testing_for_Session_Fixation_(OTG-SESS-003)

as described in https://www.owasp.org/index.php/Session_fixation

• Session ID in a cookie:

o Client-side script

Most browsers support the execution of c

[2018-09-19 14:05] leleuj commented on #247
@sasankad I was just expecting some concrete example in the Play framework and pac4j environment, but anyway, let's get this working.

@TheChifer Your analysis is right: the way data are currently stored in the cache does not allow to retrieve all the attributes when we want to change the session id and repopulate all the attributes in the store.
Your solution is the one I think. Can you submit a

[2018-09-19 14:05] leleuj commented on #233
Closing due to inactivity

[2018-09-19 14:05] #233 closed

[2018-09-19 14:05] leleuj commented on #241
Closing due to inactivity

[2018-09-19 14:06] #241 closed

[2018-09-19 14:06] leleuj commented on #242
Closing due to inactivity

[2018-09-19 14:06] #242 closed

[2018-10-17 23:02] ihostage opened #249 "Pac4jHandler not support DirectClient"
I try to integrate Lagom, Play-Pac4j, and Deadbolt. Sources in this repo https://github.com/ihostage/lagom-pac4j-deadbolt
But I got a problem.
Case:
## Create Hello World project from maven archetype [commit](https://github.com/ihostage/lagom-pac4j-deadbolt/commit/ebb5d02300e71c80ef9ae1175f3d74415ae7e8a9)

https://www.lagomframework.com/documentation/1.4.x/java/GettingStartedMaven.html
Run service

[2018-10-22 23:07] ihostage commented on #249
Hi, @leleuj!
Even after fix `Pac4jHandler`, I can't retrieve CommonProfile in my Lagom service 😞
For doing that need great refactoring (including Deadbolt). 😞
I tried to use the recommended [Lagom service call composition](https://www.lagomframework.com/documentation/1.4.x/java/ServiceImplementation.html#Service-call-composition) for authentication and authorization. In this [commit](https://githu

[2018-10-23 07:04] leleuj commented on #249
About the `PlaySessionStore`, you have two options in Play. See: https://github.com/pac4j/play-pac4j/wiki/Security-configuration#2-choosing-the-right-playsessionstore

If you want to create a new pac4j implementation, take a look at http://www.pac4j.org/docs/how-to-implement-pac4j-for-a-new-framework.html

[2018-10-23 08:31] ihostage commented on #249
Unfortunately, Lagom hasn't context and sessions. It's a framework for microservices and all requests are stateless. That's the problem about I wrote above. I can use Play filters for changing request before it handled by Lagom. But I can't access to Play Context or Play SessionStore from Lagom Service implementation.

Thanks, I read it earlier 😄 But I am not sure that this will be a full implemen

[2018-10-23 08:57] leleuj commented on #249
OK. I see. Sure, the documentation is for a whole security framework, but in your case, you only need the direct clients.
The `SessionStore` does not make much sense in your case, maybe `null` or a `NoOpSessionStore` would be sufficient.
About your commit, this is specific to JWT authentication so I still think you could use direct clients for credentials extraction and profile building.

[2018-10-23 18:21] ihostage commented on #249
Thanks, @leleuj !
I forced push [commit](https://github.com/ihostage/lagom-pac4j-deadbolt/commit/bba184252e5f3e37b5e53b7d8e7fc347de36f9c3) where authentication/authorization implemented by `DirectClient` and `Config`. (`HeaderClient` + `JwtAuthenticator` + `KeycloakOidcProfile` + custom `AuthorizationGenerator`).
But two classes `LagomWebContext` and `SecuredService` not enough for a separate libr

[2018-10-24 06:46] leleuj commented on #249
I would say three classes with the `Authorizers` one.
I didn't know it but Lagom seems to be a pretty well-known framework (~ 2k stars on github.com). So I think it's worth to create a dedicated library if you are willing to.

I can create the lagom-pac4j repo in the pac4j organization if you are interested...

[2018-10-24 16:41] ihostage commented on #249
Of course interested 👍 We planned to create a repo `lagom-pac4j` in our organization [`taymyr`](https://github.com/taymyr), but I think that it will be better if repo will be created in the `pac4j` organization.

[2018-10-25 06:39] leleuj commented on #249
Here it is: https://github.com/pac4j/lagom-pac4j

You have no push rights for now: you'll need to make PRs that I can review...

[2018-10-25 08:53] ihostage commented on #249
It's great 👍

Yes, of course. Please, create an initial commit with LICENSE or README, because I can't fork empty repository for creating PR. 😄

[2018-10-25 09:08] leleuj commented on #249
Done

[2018-11-13 13:58] leleuj commented on #249
Closing. Using lagom-pac4j instead.

[2018-11-13 15:55] ihostage commented on #249
@leleuj will not be fixed? Does nobody use `play-pac4j` with `DirectClient`? 😄

[2018-11-13 16:59] leleuj commented on #249
Many people use `play-pac4j` with a `DirectClient`, but I doubt that many people do that using Deadbolt also. At least, you're the first one to report the issue...

[2018-11-13 18:20] ihostage commented on #249
I am lucky 😂
If I have free time, I will try to do a pull request to fix this issue.

[2018-11-14 06:36] leleuj commented on #249
Great! Let's re-open it then if you are willing to fix it :-)

[2018-11-14 12:55] eximius313 commented on #249
@ihostage I'm also planning to use Play-Pac4J + Deadbolt, so big thumbs up for this ;)

[2018-11-14 14:46] #247 closed

[2018-11-21 00:30] MatthewEdge opened #251 "Default PlayCookieSessionStore Generates BadPaddingException. Bad Config?"
When attempting to use the default `PlayCookieSessionStore` we are getting a `BadPaddingException` which is causing an app crash. We are attempting external SSO authentication which succeeds with `PlayCacheSessionStore` but this implementation does not work for multiple instances behind a load balancer (save for centralizing the cache perhaps?).

I've also tried our own key vs. the UUID-generated

[2018-11-21 00:52] MatthewEdge commented on #251
Confirmed same issue with demo application unfortunately :(

[2018-11-21 09:41] ihostage commented on #251
I think, that default implementation `PlayCookieSessionStore` can't work on the cluster. Earlier (https://github.com/pac4j/play-pac4j/pull/248#issuecomment-425968896), I proposed Jerome @leleuj use `play.http.secret.key` by default.

By default `PlayCookieSessionStore` generate `ShiroAesDataEncrypter` with **difference** key on every nodes. Try to create custom `DataEncrypter` (how to do that see

[2018-11-21 12:30] MatthewEdge commented on #251
Thanks for the reply @ihostage . Unfortunately we tried that as well by lifting the same logic we found in the default ShiroAesDataEncrypter and applied to the `play.http.secret.key` with `val sKey = appSecret.substring(0, 16)`. Generated the same BadPaddingException

[2018-11-21 15:48] leleuj commented on #251
@ihostage is completely right: it won't work on a cluster as generated keys per nodes will be different. Except if you use the `play.http.secret.key` property for example.
At least, it should. I'm surprised it doesn't. I will give it a try.

[2018-11-21 15:55] leleuj commented on #251
And as we are on a major version (v7) of `play-pac4j`, we could change the behavior of the `PlayCookieSessionStore`.

[2018-11-21 15:58] MatthewEdge commented on #251
Just checklisting a couple items as I go:

- The Shiro DataEncrypter is using AES 128bit if I recall correctly. Does that need the key to be coalesced to a specific size? I assumed that's what the `.substring(0,16)` was for on the UUID
- Being 128bit it also shouldn't have any need for the JCE unlimited policy but the Docker environment we're running in has them installed by default so that should

[2018-11-21 16:14] leleuj commented on #251
16 bytes is the right size indeed (try another size and you'll get an exception).
Yes, it shouldn't require the JCE.
I update the Scala demo in your way: https://github.com/pac4j/play-pac4j-scala-demo/commit/b45c8926bd131901767b73c5b9eb1856d5553180#diff-809d121c2edb7571f77116f352885110R40 and it works. Can you try the demo again and tell me if it works?

[2018-11-21 16:53] MatthewEdge commented on #251
Can do once I get back from lunch!

[2018-11-21 19:41] MatthewEdge commented on #251
Just a quick check in - I have been unable to reproduce the BadPaddingException with the current demo project. I'm in the process of porting over the couple differences to our app (filter config mainly) and will try the CookieSessionStore again shortly.

The only other difference I can see between our app and the demo app is CORS. Angular app on the frontend served by different infrastructure so w

[2018-11-22 07:13] leleuj commented on #251
No obvious one at least. I don't see why the CORS nature would impact some decryption performed on the server. Keep us posted.

[2018-11-22 07:13] #251 closed

[2018-11-23 14:42] MatthewEdge commented on #251
Just to finalize - still no ability to recreate when swapping to using the `play.http.secret.key`. Just needed to add a min-length of at least 16 and we've been sailing smooth :+1: must have been user error somewhere that we weren't accounting for x)

Thank you all for the assistance!

[2018-11-27 08:55] unkarjedy opened #252 "PlayCookieSessionStore: can't save custom class due to "untrusted package error""
Yesterday I tried to move from `PlayCacheSessionStore` to `PlayCookieSessionStore` in order to make our server session-stateless.  Our session contais quite a lightweight user info as a instance of case class. It is saved via  `PlayCookieSessionStore.set` with key `pac4j_pac4jUserProfiles`.
But unfortunately `null` is returned when `PlayCookieSessionStore.get` is called for the same key.

Minimum

[2018-11-27 08:58] unkarjedy commented on #252
@leleuj

To bypass the issue we have to write something like this:
[code]
which IMO is quite a clumsy solution due to:
1) we deal with a global mutable state
2) it is really non-intuitive what is root of the issue, at least we should add some notes to documentation

[2018-11-27 09:10] unkarjedy commented on #252
My first/quick proposal is:
1) At least add some `addTrustedPackages` method to `JavaSerializationHelper`
2) Make `trustedPackages` immutable (do not leak from `getTrustedPackages` method, return the copy of the list)
3) Make `trustedPackages` a `Set` not a `List`
4) Make `JAVA_SER_HELPER` private non-static instance
5) Add `addTrustedPackages` to `PlayCookieSessionStore` that will delegate it to

[2018-11-27 10:44] unkarjedy commented on #252
Also, there are some issues with classloaders. If we add customer class ` RestrictedObjectInputStream` will not be able to resolve it due to it uses `play.runsupport.NamedURLClassLoader` with name `DependencyClassLoader` that can't resolve custom classes. (pack4j is added as a jar via sbt libraryDependencies).

[2018-11-27 11:21] unkarjedy commented on #252
We probably should not use parent `super.resolveClass` inside `RestrictedObjectInputStream`. Under the hood it uses `latestUserDefinedLoader()` that returns `DependencyClassLoader`.
Maybe we should be able to pass `classLoader` parameter to `RestrictedObjectInputStream` and use it during resolve?
- [Apache Commons IO ClassLoaderObjectInputStream.java](https://github.com/apache/commons-io/blob/mast

[2018-11-27 14:18] leleuj commented on #252
You're right, there is room for improvement here. Let's take things in order...

[2018-11-27 14:34] gpgekko commented on #239
Took a quick glance at the migration document of Play, and at first sight I think these are the things to do:

- [ ] [SecurityFilter.scala](https://github.com/pac4j/play-pac4j/blob/e2b74f352aa31d035163f484a996c9fe8ac74416/shared/src/main/scala/org/pac4j/play/filters/SecurityFilter.scala#L13) uses the deprecated [`play.Logger`](https://www.playframework.com/documentation/2.7.0-RC3/Migration27#play.

[2018-11-27 15:06] leleuj commented on #252
About the trusted packages, I'm globally in line with the proposed changes, except that we can't break backward compatibility. So we must keep the list instead of a set in the 3.5.x version and return a mutable list, but we should mark the getter and setter methods with `@Deprecated` and add a new `addTrustedPackages` method.

In the version 4.0.x, we'll be able to change that and use a set and re

[2018-11-27 15:12] leleuj commented on #239
Thanks for the feedback @gpgekko. We are still working on play-pac4j v7 based on pac4j v3.4 and Play 2.6, but you can maybe open a PR to accommodate the changes (this will go into play-pac4j v8).

[2018-11-28 07:43] unkarjedy commented on #252
@leleuj Ok, I will prepare a PR this weak

[2018-11-28 09:14] eximius313 commented on #239
https://github.com/schaloner/deadbolt-2-java/pull/95

[2018-12-04 08:14] iwanek9ld opened #254 "Session timeout after one hour even when session should be prolonged"
I am not sure if this is bug or my misconception about design but I cannot get play-pac4j correctly working with defaults to PlayCacheSessionStore, ehcache play cache, security filter and indirect client.

Versions:
play - 2.6.20
play-pac4j - 6.1.0
pac4j - 3.3.0

Sessions are expired after 1 hour (default) from creation and expiration time is not prolonged on access to session (subsequent requests

[2018-12-05 15:47] leleuj commented on #254
Good catch! I had never noticed. Indeed, I was expecting the `setTimeToIdle(timeout)` method to be called. It feels like a bug in Play: did you try to report it to the Play framework team?

[2018-12-06 09:05] iwanek9ld commented on #254
Following your opinion that this is clearly play framework bug, I have created issue: https://github.com/playframework/playframework/issues/8861

[2018-12-07 07:07] leleuj commented on #254
OK. Thanks. We'll see what they answer...

[2018-12-15 09:20] leleuj opened #255 "Add TRACE logs in the PlayCacheSessionStore"

[2018-12-28 11:00] unkarjedy commented on #252
@leleuj
Her is the first PR: https://github.com/pac4j/pac4j/pull/1225
(Did I said this weak? seems like I meant this year =D)

[2019-01-02 10:32] leleuj commented on #252
@unkarjedy Thanks. Just reviewed it. LGTM. As pac4j v4 has started, we now need two PRs: one (backward compatible) for the 3.5.x branch and one for the master...

[2019-01-02 14:31] #249 closed

[2019-01-02 14:39] #255 closed

[2019-01-28 16:46] leleuj commented on #252
Fixed in 3.5.0 and 4.0.0...

[2019-01-28 16:46] #252 closed

[2019-02-13 04:45] rebstar6 opened #257 "Pac4jScalaTemplateHelper with PlayCookieSessionStore returns no profile"
the Pac4jScalaTemplateHelper seems to explicitly specify the PlayCacheSessionStore. I setup my app using the PlayCookieSessionStore and noticed that on calls to the following:

[code]

cacheProf is None, but cookieProf contains the current profile.

I got stuck on this for a while, so figured at least some more docs on this point could help others!

[2019-02-13 08:04] leleuj opened #258 "OpenID Connect + PlayCookieSessionStore"
See: https://groups.google.com/forum/?fromgroups#!topic/pac4j-users/Jp0ZMVZiCiA

[2019-02-14 07:15] leleuj commented on #258
Solution: do not remove the ID_Token those values are in any case available as profile attributes

[2019-02-14 07:31] leleuj commented on #258
Fixed in pac4j v3.6.0

[2019-02-14 07:31] #258 closed

[2019-02-15 08:26] leleuj commented on #257
I don't think we need more documentation here, it's a bug, we should retrieve the appropriate `PlaySessionStore`, whether it is a `PlayCacheSessionStore` or a `PlayCookieSessionStore`.

Feel free to submit a contribution. Thanks.

[2019-02-18 14:20] AlexTo opened #259 "profileManager.get(false) returns Optional.empty"
Hi
I'm using
Play 2.7,
play-pac4j 7.0
HeaderClient and JWT

I can authorize request or reject unauthorized request properly but only having problem with getting the profile from the request.

![untitled](https://user-images.githubusercontent.com/296212/52956977-bb554b00-33e4-11e9-86b1-981a75b9cf31.png)

The headers in the request does contain "authorization Bearer ....."

![untitled2](https://user

[2019-02-18 14:42] leleuj commented on #259
Please use the mailing list for questions: https://groups.google.com/forum/?fromgroups#!forum/pac4j-users

[2019-02-18 14:42] #259 closed

[2019-03-13 07:02] leleuj commented on #257
Fixed in the incoming v7.0.1 release.

[2019-03-13 07:02] #257 closed

[2019-04-01 11:45] Synesso opened #260 "Password sent in query params to callback"
I've set up HTTP form auth with SQL provider. See my [SecurityModule](https://github.com/0rora/0rora/blob/bd02017ee580c52effca5b6015e586b91a3841ee/app/modules/SecurityModule.scala#L19)

When I log in, there is an HTTP GET made to the callback url with username and password fields in the query string.

`http://localhost:9000/callback?username=admin&password=admin`

I'm new, so most likely doing som

[2019-04-02 06:53] leleuj commented on #260
I guess the method of your form is GET (or nothing) instead of POST. Change that to hide your credentials.

[2019-04-02 06:53] #260 closed

[2019-04-09 18:02] mellster2012 commented on #239
PR for those who want to upgrade before the refactoring: https://github.com/pac4j/play-pac4j/pull/261

[2019-04-10 17:26] eximius313 commented on #239
Deadbolt for 2.7 is released now: https://github.com/schaloner/deadbolt-2-java/releases/tag/v2.7.0

[2019-05-25 17:06] ndimas commented on #239
Hello @leleuj , do you need any help with this task?

[2019-05-27 13:18] leleuj commented on #239
Sure. This change needs to be fully tested and the Deadbolt dependency should be updated in version 2.7 if I'm not mistaken...

[2019-05-27 14:02] vidma commented on #239
I tested it a bit with play 2.7. seems to work fine so far with ldap & saml.

@leleuj any plans to release 8.0.0 with play 2.7 support soon? or do we need to release our own fork for the time being?

[2019-05-28 09:18] leleuj commented on #239
I'm working on it...

[2019-05-29 05:48] leleuj commented on #239
The release v8.0.0 is now available in the Maven central repository.

[2019-05-29 05:48] leleuj commented on #254
@iwanek9ld any update on this?

[2019-06-04 09:53] gpgekko commented on #239
Note that this might be done in the sense that the version is bumped and it runs, but my list above still applies: a lot of things that are used by this project (and the imported version of Deadbolt) are deprecated and will be removed in the next Play version. I'll open a new issue to track that work.

[2019-06-04 09:55] leleuj commented on #239
I re-opened the issue for the remaining work... It can be a version 8.1 or 9.0...

[2019-06-12 12:29] ijaxahmed commented on #239
is 8.0.0  supporting play 2.7 and available in IVY dependency manager ?
if not, then it means pac4j cant be used with play2.7 when using sbt ?

[2019-06-12 12:43] ijaxahmed commented on #239
is it also available in IVY dependency manager ? right now if i mention in sbt dependency , got error like

org.pac4j#play-pac4j;8.0.0: not found

[2019-06-12 14:42] leleuj commented on #239
Strange, isn't Maven central repository a default repo of the build.sbt file?

[2019-06-12 14:56] ijaxahmed commented on #239
sbt uses Apache Ivy to implement managed dependencies
https://www.scala-sbt.org/release/docs/Library-Dependencies.html

[2019-06-13 05:52] taggiasco commented on #239
Hi @ijaxahmed
I had the same problem. I used to reference the library as :
`"org.pac4j" % "play-pac4j" % "8.0.0"`
but it wasn't enough and I had to explicitly add the Scala version :
`"org.pac4j" % "play-pac4j_2.12" % "8.0.0"`
I don't know the reason, because at the same time, I upgraded to SBT 1.x, so it might be because of the update, or something else.

[2019-06-13 06:02] leleuj commented on #239
`play-pac4j` does not exist in version 8.0.0, it used to be the parent pom, now it's `play-pac4j-parent` to avoid any confusion.
Use: `play-pac4j_2.11` or `play-pac4j_2.12`

[2019-06-13 14:18] ijaxahmed commented on #239
Thank you @taggiasco and @leleuj

[2019-06-19 12:58] aeismann commented on #254
@leleuj After a lengthy migration from secure social to pac4j, I am facing the same problem now.
[code]
In the configuration the callback controller is configured with: `setRenewSession(true)`.

Current workaround in our code is to override `renewSession(PlayWebContext context)` in `PlayCacheSessionStore`, where we remove the session from the cache and add it again in each call, to
prolong the cac

[2019-06-20 06:22] leleuj commented on #254
Indeed, renewing the session for each call is a performance pitfall.

play-pac4j only relies on the APIs provided by Play. The `setTimeToLive` (instead of `setTimeToIdle`) call happens in the `EhCacheApi` component. You should certainly override it.

[2019-07-12 15:18] al6892 opened #262 "PlayCacheSessionStore.set() incorrectly stores the values when PlayCacheSessionStore.prefix is not empty string"
Please note that the last line of this method is incorrect. Causes issues when prefix is not empty string.

[code]

To correct, use the last line as.
`store.set(getPrefixedSessionKey(sessionId), values);`

[2019-07-13 07:56] leleuj commented on #262
You' re right, it's a bug.

[2019-07-15 11:41] marcadella opened #264 "NullPointerException oidc callback"
I get a null pointer exception in the call back from an oidc request.
Below is the debug printouts including the stacktrace of the exception.
It is `idToken` that is null and the reason is because my OIDC provider doesn not return any id_token. The question is whether pac4j-oidc is a bit too strict and should let a token endpoint return only an access_token?

[code]

[2019-07-17 15:43] marcadella commented on #264
This is a pac4j-oidc issue, not a play-pac4j

[2019-07-17 15:43] #264 closed

[2019-07-24 10:22] almothafar commented on #254
Any update on this, play 2.7.x and still having the same issue! it is annoying.

[2019-09-20 07:19] louisjiang opened #265 "Support for scala 2.13?"
Support for scala 2.13?

[2019-09-20 09:50] #262 closed

[2019-09-20 09:51] leleuj commented on #265
Not yet. Feel free to submit a contribution.

[2019-09-25 02:24] louisjiang commented on #265
Dependent on external project deadbolt-2-scala
https://github.com/schaloner/deadbolt-2-scala/issues/50

[2019-09-25 05:49] leleuj commented on #265
OK. Let's wait for that then.

[2019-10-08 09:43] aeismann commented on #265
FYI: @louisjiang That dependency has moved forward now:
https://github.com/schaloner/deadbolt-2-scala/issues/50

[2019-10-10 11:47] marcadella opened #266 "PlayCookieSessionStore does not properly work with direct clients"
I use an AnonymousClient to secure an endpoint like this:
[code]
From [this thread](https://groups.google.com/forum/?hl=en#!searchin/pac4j-users/anonymous|sort:date/pac4j-users/FisZbCHcCbk/L8wC8H_HAwAJ) you say that `anonymous` is treated like any authenticated user. So I expect to get `anonymous` in the profile list but instead the Option is empty. I even used `AlwaysUseSessionProfileStorageDecis

[2019-10-10 15:45] leleuj commented on #266
Please use the mailing list for questions: https://groups.google.com/forum/?fromgroups#!forum/pac4j-users

[2019-10-27 07:34] leleuj commented on #266
The problem comes from the PlayCookieSessionStore...

[2019-11-04 06:54] sorenvalentinjp commented on #202
Was this issue ever implemented? Did anyone find an elegant way to refresh the tokens in the background?

[2019-11-07 13:58] marcadella commented on #266
I can confirm that DirectBasicAuthClient doesn't work either.
Do you mean that there is a bug in PlayCookieSessionStore that suddenly broke the library? What's the action plan regarding this issue?

[2019-11-08 14:27] leleuj commented on #266
Indeed, there is certainly a bug. It must be investigated and fixed.

[2019-11-15 05:46] martinhansen commented on #266
Happens when using PlayCacheSessionStore as well.

From my quick trace/debug, the Secure action finds the profiles from the SessionStore (it even passes the profiles to the AuthenticatedRequest) just fine. But when the block of code is executed from the action (Security.scala line 106), a new play HTTPConfiguration is created (i don't know if this has always been the case), and for some reason, th

[2019-11-15 08:18] leleuj commented on #266
OK. Thanks for the hint. Maybe it only happens for Scala then. I'll take that into account when I work on it.

[2019-12-03 11:02] mikla commented on #266
Looking into `PlayCookieSessionStore.java`
[code]

and then
[code]
I wonder, how does it supposed to work?

[2019-12-03 15:46] leleuj commented on #266
The session is supposed to be renewed. For example, a new JSESSIONID cookie value is generated to store the session data. In Play, as everything goes in the same cookie, it doesn't make any sense.

[2019-12-15 18:35] footballer1993 opened #269 "Is there a plan to support play 2.8.0"
I tried, but get an error:
error] D:\Projekte\EstimationControl\conf\routes:130:1: type CallbackController is not a member of package org.pac4j.play
[error] GET         /callback                   @org.pac4j.play.CallbackController.callback()

[2019-12-16 07:52] leleuj commented on #269
Yes, we will support Play 2.8.0, but I'm not sure when. Are you sure your error is related to Play v2.8.0? It seems strange...

[2019-12-16 08:22] thirdteeth commented on #269
we have an issue when using this with Play Java v2.8.0, since Play Java delete the deprecated API of play.mvc.Http.Context and related API, when we create org.pac4j.play.PlayWebContext object, it throws a ClassNotFoundException

[2019-12-18 14:30] petahathub commented on #239
Hi,
now Play Framework 2.8 is out. How about support for 2.7 and it's breaking changes in Http.Context?

I shall be most gratefull if you could move a little forward this awesome play-pac4j!

[2019-12-19 07:37] leleuj commented on #239
I have that in mind. My main goal currently is to upgrade to pac4j v4. But I know there are the waiting supports for Play 2.7 and Play 2.8 and Scala 2.13. I think the best option is to move to pac4j v4 first (play-pac4j v9), but I'm open to suggestions...

[2020-01-02 18:18] pbyrne84 commented on #265
Deadbolt scala does not look like it has been properly published for 2.11
https://repo1.maven.org/maven2/be/objectify/deadbolt-scala_2.11/2.7.1/
versus
https://repo1.maven.org/maven2/be/objectify/deadbolt-scala_2.13/2.7.1/

:(

Things seem to of been moved/renamed internally in deadbolt so it may be worth waiting for play 2.8 support as it looks like it has dropped 2.11 simplifying things.

[2020-01-06 17:55] leleuj commented on #265
@pbyrne84 Just to be sure: you suggest to first move to Play 2.8 and then remove Scala 2.11 and add Scala 2.13, right?

[2020-01-13 18:36] newyenjay opened #270 "Update readme's demo links"
Seems like the demo links for this is broken. The Java and Scala versions are not working as expected.

- http://play-pac4j-scala-demo.herokuapp.com/
- http://play-pac4j-java-demo.herokuapp.com/

[2020-01-14 15:28] leleuj commented on #270
These are free demos on Heroku. They are down sometimes or take a lot of time to start up. But they eventually be available.

[2020-01-14 15:28] #270 closed

[2020-01-27 15:36] jonaskoelker-jypo opened #271 "ShiroAesDataEncrypter generates bad default keys"
I had a look at https://github.com/pac4j/play-pac4j/blob/master/shared/src/main/java/org/pac4j/play/store/ShiroAesDataEncrypter.java (from commit 8f621bba31d55e1fa3e41dae86244b1a82978964).

It appears to me that the argument-less constructor generates weak keys: the byte array used as an AES key will only ever contain values which are either between 48 and 57 ('0' to '9') or 97 and 102 ('a' to 'f'

[2020-01-28 04:35] jeffwji commented on #269
After upgraded from 2.7 to 2.8. I got this exception:

com.google.common.util.concurrent.ExecutionError: java.lang.NoClassDefFoundError: play/mvc/Http$Context

I think it might due to the same problem.

[2020-01-28 09:42] leleuj commented on #269
Certainly

[2020-01-28 10:36] leleuj commented on #271
You're right: there is less possible values with a generated key from the default constructor than if you provide your own key. And the size is small.
It has been designed as an easy way to setup things, but it can be a mistake.

I'm not sure about the solution, maybe we should simply remove this default constructor...

[2020-01-28 13:01] jonaskoelker-jypo commented on #271
Removing it would work for me, but it will of course break all code that uses it.

Alternatively, https://docs.oracle.com/javase/8/docs/api/java/security/SecureRandom.html suggests a recipe:

- Create a SecureRandom object
- Create a byte array of the appropriate length
- Use the SecureRandom to fill the byte array with random bytes

That should generate a key from the entire key space, uniformly

[2020-01-28 13:08] jonaskoelker-jypo opened #272 "ShiroAesDataEncrypter(final String key) makes suboptimal use of the key"
The single-argument constructor at https://github.com/pac4j/play-pac4j/blob/master/shared/src/main/java/org/pac4j/play/store/ShiroAesDataEncrypter.java#L31 uses the argument on line 34 as follows: `this.key = key.getBytes(StandardCharsets.UTF_8)`.

Some byte arrays cannot possible be generated by this method. For example, the byte array where every byte has value 170 (= 0xAA = -86) is not a valid

[2020-01-28 14:01] leleuj commented on #271
OK. That makes sense. Would you mind submitting a PR for that? Thanks

[2020-01-28 14:01] leleuj commented on #272
Yes, good idea. Would you mind submitting a PR for that also?

[2020-01-30 10:27] jonaskoelker-jypo commented on #271
See https://github.com/pac4j/play-pac4j/pull/273

[2020-01-30 10:28] jonaskoelker-jypo commented on #272
See https://github.com/pac4j/play-pac4j/pull/273

[2020-01-30 12:56] #271 closed

[2020-01-30 12:56] leleuj commented on #272
I will release a new version 8.0.2 tomorrow...

[2020-01-30 12:56] #272 closed

[2020-01-30 17:05] pbyrne84 commented on #265
Sorry for not getting back sooner. Well the move to play 2.8 will remove 2.11 as it is no longer supported. The deadbolt changes would now block you and would require incompatible versions of deadbolts to be running across different Scala versions in your build. That does not sound like fun to me.

There is an issue raised for the missing 2.11 build
https://github.com/schaloner/deadbolt-2-scala/is

[2020-01-31 16:41] rania-globalorange commented on #269
I took a look into how the deprecated Http.Context could be replaced and it looks like there is a lot of impact. Without replacing this it's not possible to move to play 2.8. @leleuj do you have a plan of approach? I could possibly help

[2020-01-31 16:56] leleuj commented on #269
Not yet. I plan to resume my work on play-pac4j next week with in order:
create version 9, update to pac4j v4, fix bugs, add Scala 2.13
then
create v10, update to Play 2.8.x, remove Scala 2.11...

[2020-01-31 18:00] kcoolsae commented on #266
The same (or similar) problem occurs with indirect clients.
In my setup - play 2.7.3, AzureADClient - I have 'infinite' redirect problems.

When tracing `PlayCookieSessionStore` I see the user profile being stored in to the session store correctly, and as far as I can see it also ends up in the Http-session (a bit difficult to test, as the play session cookie is encrypted), but after redirect the

[2020-02-02 17:30] kcoolsae commented on #266
For what it is worth, the bug mentioned in the comment above turns out not to occur when I use `PlayCacheSessionStore` instead of `PlayCookieSessionStore`. I guess that the user profile information gathered by the `AzureADClient` is too large to store into a cookie and therefore somehow does not end up in the session cookie sent by the redirect.

[2020-02-03 07:19] leleuj commented on #266
That might be the explanation. At least, the `PlayCacheSessionStore` works without any issue.

[2020-02-03 19:48] SoerenSilkjaer commented on #239
I made a pr that upgrades this project to pac4j v4 https://github.com/pac4j/play-pac4j/pull/267
Hope it helps in the upgrade process.

[2020-02-03 19:58] SoerenSilkjaer commented on #269
I made a pr that upgrades this project to pac4j v4 #267
Hope it helps in the upgrade process.

[2020-02-10 14:34] mkurz commented on #265
I released deadbolt 2.7.1 for Scala 2.11 now:
https://repo1.maven.org/maven2/be/objectify/deadbolt-scala_2.11/2.7.1/
Seems like a problem occured when released last year.

[2020-02-10 14:35] mkurz commented on #265
Oh yes and deadbolt 2.8.0 for Scala 2.12 and 2.13 is released now as well. Have fun!

[2020-02-10 14:54] leleuj commented on #265
Thanks

[2020-02-12 09:16] leleuj commented on #265
@mkurz Just to be sure: for Play 2.7, I must use Deadbolt 2.7 and for Play 2.8, I must use Deadbolt 2.8, right?

[2020-02-12 09:18] mkurz commented on #265
@leleuj Yes, that's correct.

[2020-02-12 09:22] mkurz commented on #265
Because from deadbolt 2.7  to deadbolt 2.8 nothing really changed, you may be able to use deadbolt 2.7 with Play 2.8. I think that should work as well given that deadbolt 2.8 is just compiled against Play 2.8 without any changes in its source code. However the safest way is probably to just use deadbolt 2.8.
deadbolt 2.7 and deadbolt 2.8 do not differ in features or anything else, it's just recomp

[2020-02-12 09:48] leleuj commented on #265
@mkurz Thanks for confirming this.

I was in v2.6.1 and I have compilation issues with v2.7.1. I guess things have changed: is there a migration guide somewhere to help me?

[2020-02-12 10:17] mkurz commented on #265
Not really a migration guide, but maybe it helps: https://github.com/schaloner/deadbolt-2-java/issues/89

[2020-02-12 11:18] leleuj commented on #265
I saw this doc, but it won't be enough for me.

I have taken a look at the documentation (https://deadbolt-java.readme.io/) and I haven't been able to find the guide for a release after the version 2.6.3: am I missing something?

[2020-02-12 11:29] leleuj commented on #265
OK. I see the problem: I'm relying on `Http.Context` which has been replaced by `Http.RequestHeader`. This is something I planned to do in play-pac4j even in Play 2.7, so I will start by that. The upgrade should be straightforward after that.

Thanks for your help.

[2020-02-12 22:35] mkurz commented on #265
@leleuj If you need help along the way let me know.

[2020-02-13 06:16] 315101 opened #300 "Exception thrown on Okta authentifcation attempt"
I'm trying to utilize the library for Okta authentication, but always getting the exception.

I tried to update configs by specifying the algorithm in ParameterClient:
`val JWTConfiguration = new SecretSignatureConfiguration(playSecret.substring(0, 16), JWSAlgorithm.RS256)
`,
or specified algorithm in oidcConfiguration like so: `oidcConfiguration.setPreferredJwsAlgorithm(JWSAlgorithm.RS256)`

The

[2020-02-13 06:22] #300 closed

[2020-02-13 09:38] leleuj commented on #265
Thanks for proposing. Almost all work was on my side. As soon as I used `RequestHeader` instead of `Http.Context`,  the Deadbolt upgrade became easy.

[2020-02-13 09:43] mkurz commented on #265
Great!

[2020-02-13 09:53] leleuj commented on #239
The complete upgrade to Play v2.7 has been done:
- `Optional` in the `PlayCacheStore`
- removal of the `Http.Context` in favor of the `Http.RequestHeader`.

[2020-02-13 09:53] #239 closed

[2020-02-13 09:56] leleuj commented on #266
It should be fixed in the latest play-pac4j 9.0.0-RC3-SNAPSHOT version: can you confirm? Thanks

[2020-02-13 09:56] #266 closed

[2020-02-13 09:58] leleuj commented on #269
play-pac4j v9 which is based on Play 2.7 and pac4j v4 has been cleaned from the deprecated `Http.context` class: it should work for Play 2.8. Can you give it a try? Thanks

[2020-02-13 18:28] leleuj commented on #265
I just added the Scala 2.13 support as well.

[2020-02-13 18:28] #265 closed

[2020-02-17 11:25] SoerenSilkjaer commented on #269
I am seeing AnonymousProfile in my list of profiles. The comment say that pac4j tries to omit this profile from the list, and it has in previous versions. Is the AnonymousProfile there on purpose now?

[2020-02-17 13:58] leleuj commented on #269
The code has been moved to `ProfileHelper.flatIntoOneProfile` on which the `ProfileManager.get` relies.
The `AnonymousProfile` should be there if it's the only profile. Otherwise, it will be omitted.

[2020-02-17 14:13] SoerenSilkjaer commented on #269
Aha. In my application, it is the only profile, when the other clients i configured cannot resolve to a profile, is this what you mean with the only profile? Or do you mean that is has to be the only Client aswell?

[2020-02-17 14:21] leleuj commented on #269
Yes, one profile, not one client. There was a reason behind that, but I can't remember it.

You can override the `ProfileManager` with a new one and set it via `Config.defaultProfileManagerFactory`. I don't think this is a good idea though. You should certainly find another way.

[2020-02-19 05:05] pankajsonawane4 commented on #269
is play-pac4j v9 is available? I cannot see it in releases.

[2020-02-19 07:03] leleuj commented on #269
Not yet. I plan the release at the end of this week or at the beginning of next week.

Currently, you need to add the Sonatype snapshots repository to get the play-pac4j v9.0.0-RC3-SNAPSHOT.

[2020-02-21 16:13] leleuj commented on #254
To handle this issue, you now have a specific `PlayEhCacheSessionStore` to use instead of the `PlayCacheSessionStore`.

[2020-02-21 16:13] #254 closed

[2020-02-22 10:04] renovate[bot] opened #315 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

File: `renovate.json`
Error type: Invalid JSON (parsing failed)
Message: `Syntax error near 3",
  ]
}
`

[2020-02-22 10:05] #315 closed

[2020-02-26 13:33] khebbie opened #316 "Callback from the Callback ;-)"
I would like to monitor how many successful / failed logins happens in my application.
I don't see any way of getting a callback on successful / failed logins?

How would I go about doing that?

[2020-02-27 06:58] DraganRaicici opened #317 "Empty sessions saved in cache"
We've noticed that play-pac4j saves creates session for every request and, if empty, they are saved in the cache. We use a redis cache and this behaviour would mean that we would fill up our cache really quick with essentially empty sessions. Is this something you are interested in looking into?

[2020-02-27 07:34] leleuj commented on #316
Please use the mailing list for questions: https://groups.google.com/forum/?fromgroups#!forum/pac4j-users

[2020-02-27 07:34] #316 closed

[2020-02-27 07:43] leleuj commented on #317
Can you elaborate on this? What `PlaySessionStore`? ...

[2020-02-27 09:49] DraganRaicici commented on #317
We are using the `PlayCacheSessionStore`.

[2020-02-27 10:40] leleuj commented on #317
OK. "play-pac4j saves creates session for every request": what do you mean by that?

A session should only be created by play-pac4j when there is something to put in it (the `set` method).

[2020-02-27 11:28] DraganRaicici commented on #317
I looked more into it and if we're accessing the site with an anonymous client, and no other client authorizes me, then it saves something in the cache, but the session cookie is not saved. Which means that the session, or profile, for every request that succeeds, gets saved in the cache. In our cache, since the cache is a db, this coupled with multiple offline page views, results in our database

[2020-02-27 12:51] leleuj commented on #317
I see several times in the logs: "generated sessionId: xxx", which may be the root cause. The sessionId should be generated only once per request. I'll investigate...

[2020-02-27 13:10] DraganRaicici commented on #317
Great! However, I'm thinking that this might still not be enough. Even though the sessionId is not recreated for the same session, it still means that an anonymous session is saved in the cache. Is it possible to not save the anonymous sessions in the cache?

[2020-02-27 13:31] leleuj commented on #317
As a first step, can you try play-pac4j v9.0.0-RC4-SNAPSHOT and see if only one session is generated per request? Thx

[2020-02-27 14:16] DraganRaicici commented on #317
yes, of course, thank you for the quick fix.

[2020-02-27 14:24] DraganRaicici commented on #317
Hmm...that wasn't it. It's still saving new objects in the cache everytime I refresh the same view (so it should be the same session). I will take a closer look at it to see the component that's causing this behaviour. And I set the version of play-pac4j to 9.0.0-RC4-SNAPSHOT.

[2020-02-28 07:16] DraganRaicici commented on #317
So after some more debugging, I verified that when using the anonymous client, the PLAY_SESSION cookie is not set in the browser, and so, I assume, it results in the creation of different pac4jSessionIds.

Afterwards, I tried to login and then logout. The PLAY_SESSION cookie remained set with the sessionId I was given and there were no new sessionIds created until I removed the cookie by hand. Hop

[2020-02-28 07:32] leleuj commented on #317
I had the same issue: every refresh of the page generated a new sessionId. I just committed one more improvement to deal with that. You may need to use the `supplementResponse` method on the result if you create your own `PlayWebContext`.

[2020-02-28 13:18] DraganRaicici commented on #317
Hi Jerome,
After some fiddling today, I found out that the session is still being recreated. We are not creating our own `PlayWebContext`.

I found out that the object that's being put in the cache, for every request, with a new sessionId, is the `pac4jCsrfToken`.

[2020-02-28 13:37] leleuj commented on #317
OK. So this is generated by the default `matchers` configuration which is `crsfToken`. Can you switch to `none`? Thx

[2020-02-28 13:50] DraganRaicici commented on #317
I tried not adding the `crsfToken` to the cache. That solved the problem with caching filling up when called with the anonymous Client,but now, we're getting a `[CompletionException: org.pac4j.core.exception.TechnicalException: State parameter is different from the one sent in authentication request. Session expired or possible threat of cross-site request forgery]`.

This tells me that the token

[2020-02-28 15:30] leleuj commented on #317
The state parameter is something different from the CSRF token, but both are stored in the session so you need the session in some login processes.

Are you sure you tested with the latest play-pac4j v9.0.0-RC4-SNAPSHOT?

I use the following demo for my tests: https://github.com/pac4j/play-pac4j-java-demo and the sessionId is no longer re-generated when refreshing the index page. with the latest 9

[2020-03-02 08:51] DraganRaicici commented on #317
Yes, I am sure I was using the latest  play-pac4j v9.0.0-RC4-SNAPSHOT because I pulled the latest changes from the repository and added some custom logging and saw them in my output.
We are not creating our own PlayWebContext as you are in the play-pac4j-demo. I will try to implement that throughout our project and see if it helps.

[2020-03-02 08:55] DraganRaicici commented on #317
I was looking at the comments and noticed that I forgot to mention that we're implementing play-pac4j in Scala.

[2020-03-02 12:48] DraganRaicici commented on #317
I made some changes to the play-pac4j-demo project to mimic the behaviour that we experience with sessionIds that we've been discussing :)

Please check this pull request:
https://github.com/pac4j/play-pac4j-scala-demo/pull/79

[2020-03-02 12:50] DraganRaicici commented on #317
We cannot use the `PlayCacheCookieStore` because the size of the cookie gets larger than 4KB, as described here:
https://www.playframework.com/documentation/2.7.x/ScalaSessionFlash#How-it-is-different-in-Play

[2020-03-04 15:30] leleuj commented on #317
I tested in Java and didn't see the issue. Now I can reproduce your problem with the Scala demo. I will investigate...

[2020-03-05 11:40] leleuj commented on #317
OK. I got it. Things are a bit tricky. By default, the `PlayWebContext` holds the data (cookies, session, ...) necessary for the response. A call is needed to the `supplementResponse` method to add that data to the `Result`.
This only happens when the *pac4j* framework returns a `Result`. With the `AnonymousClient`, the request is passed through by the `Secure` function (notice the request is also

[2020-03-05 12:17] #317 closed

[2020-03-06 07:11] SoerenSilkjaer commented on #317
Shouldn't this be a native part of play-pac4j?

[2020-03-06 09:57] leleuj commented on #317
I wish so, but I don't see any solution. The design of the `Secure` function is to pass the `request`, w don't have access to the `Result` as far as I know.
I'm working on another solution, which does not rely on knowing the intricates of play-pac4j...

[2020-03-18 12:26] leleuj commented on #317
If you use the latest `play-pac4j` v9.0.0-SNAPSHOT and `pac4j` v4.0.0-SNAPSHOT, you have now a better solution:

You can define that you don't want to load the profiles from the session for the `AnonymousClient`:

[code]

and then use it in your configuration:

[code]

That way, no profile will be retrieved from the session and no session will be created for the `AnonymousClient`.

[2020-03-19 09:14] ndlarsen opened #322 "Supporting PKCE?"
Hi.

So, I aplogize in advance if this is already present in the documentation as in that case I have failed to locate it properly. I have been looking through the docs and I am wondering if play-pac4j (and pac4j) supports PKCE. If PKCE is indeed supported, would you be so kind to direct me to the doc/code related to this?

Thanks

[2020-03-19 10:30] DraganRaicici commented on #317
Hi Jerome. Interesting solution...but... We can still see sessions being created with the csrfToken stored in them. These sessions are saved in the cache and since we use a db cache, we are filling up our db with new sessions with, I guess, new csrfTokens for each request.

[2020-03-19 10:32] leleuj commented on #317
You must also disable the CSRF tokens with `matchers = "none"`.

[2020-03-19 10:49] leleuj commented on #322
Next time, please ask your questions on the mailing list: https://groups.google.com/forum/?fromgroups#!forum/pac4j-users

We don't support PKCE for OAuth.

[2020-03-19 10:49] #322 closed

[2020-03-19 10:52] DraganRaicici commented on #317
Can you point me in the right direction? This is a little vague for me.

[2020-03-19 11:06] DraganRaicici commented on #317
Yes! The matchers="none" fixed our recurring sessions in the db
Thank you very much!

[2020-03-19 11:12] DraganRaicici commented on #317
What is the implication of having the matchers="none" ? For now, we can see that our login didn't break and everything still seems to work as expected,but we are curious about that question :)

[2020-03-19 11:22] ndlarsen commented on #322
Are there any plans to?

[2020-03-19 14:01] leleuj commented on #322
None that I'm aware of.

[2020-03-19 14:04] leleuj commented on #317
By default, matchers are `securityHeaders,csrfToken`. It means that security headers will be added to the request and that the CSRF token will be computed. `none` means nothing happens.
You could just use `securityHeaders` in fact.
http://www.pac4j.org/docs/matchers.html

[2020-03-23 11:50] jonaskoelker-jypo opened #325 "Incompatible changes to `CallbackController.callback()` have not been explained"
Commit 0c13def03f8caf6604a83703fe1689fc0442ce47 makes backward-incompatible changes to the `callback` method on the `CallbackController`.

It would be nice if this was reflected at https://github.com/pac4j/play-pac4j/wiki/Callback-configuration, and if migration steps were mentioned on https://github.com/pac4j/play-pac4j/wiki/Migration-guide.

The particular compile error (excerpt) is this:
[code]

[2020-03-23 12:12] leleuj commented on #325
Good catch! It's fixed

[2020-03-23 12:12] #325 closed

[2020-04-07 07:43] leleuj commented on #269
play-pac4j v9 for Play 2.7 and play-pac4j v10 for Play 2.8 have been released.

[2020-04-07 07:43] #269 closed

[2020-04-16 09:41] rania-globalorange opened #329 "AnonymousClient doesn't seem to work for the callback"
I upgraded play-pac4j to 9.0.0 with play 2.7.4 in java and I have issues with the security rules. As far as I understood the _anonymous_ authorizer has been replaced by the AnonymousClient, but it doesn't seem to work for the callback. It works for the root, but when I access my secured endpoint I am redirected to the login page (of Keycloak in my case), where I login and then go to the callback b

[2020-04-16 10:21] leleuj commented on #329
There might be an issue here. I will check.

[2020-04-16 14:09] leleuj commented on #329
Indeed, there is a core issue in pac4j when the security filter protects the callback endpoint. I'll fix that in a future version of pac4j.

Currently, you should use this configuration:

[code]

Can you check that it works with the version 9.0.1-SNAPSHOT? Thx

[2020-04-24 12:39] mabrcosta opened #330 "PlayCookieSessionStore doesn't handle incompatible data"
After upgrading from version 7 to 10 we've been having errors with this logged stacktrace:
[code]
As the stacktrace points, this is caused by the stored cookie session data not being compatible between the two versions due to the java serialization.

A simple solution could be changing `PlayCookieSessionStore` line 62 from `return Optional.of(value);` to `return Optional.ofNullable(value);` and le

[2020-04-27 12:45] leleuj commented on #330
Thanks for reporting. It should be fixed in version 10.0.1-SNAPSHOT: can you try and confirm? Thx

[2020-04-30 08:48] rania-globalorange commented on #329
As far as I can see the fix is on master, there is no release for it. But I am unable to include this successfully in my play project and test it. I tried with adding the jar in `project/lib` and I also tried with adding dependsOn and the uri but no success. Any idea is welcome.

[2020-04-30 08:55] leleuj commented on #329
The fix is available for version 9.0.1-SNAPSHOT (Play 2.7) and version 10.0.1-SNAPSHOT (Play 2.8).
Both development versions are available in the Sonatype Snapshots repository. See: https://github.com/pac4j/play-pac4j-java-demo/blob/master/build.sbt#L49

[code]

[2020-04-30 09:17] rania-globalorange commented on #329
Oops, I missed that. Thanks, it all works now!

[2020-04-30 09:17] #329 closed

[2020-04-30 09:18] leleuj commented on #329
Perfect! I will cut the 9.0.1 / 10.0.1 releases soon.

[2020-05-08 13:03] mabrcosta commented on #330
Apologies for the late response. While it solved the original problem it appears there's still some data inconsistency when it goes for the re-authentication step.

[code]
On my particular case I noted that cookie attempting to be set just before the redirect is way beyond the allowed cookie size limit, at around 6.9kB. The existing cookie (set by the legacy version, 7.0 in my case) was already ne

[2020-05-10 09:51] leleuj commented on #330
This is very strange. I kept the original algorithm and the renamed `removeLoginData` method should now remove the ID token thus the final cookie size should be smaller.

I will investigate.

[2020-05-11 07:33] leleuj commented on #330
I cannot reproduce your issue.

Testing the play-pac4j-scala demo v7, I have:
- profile serialized: 2456 bytes, cookie size: 3976 bytes

With v10, I have:
- profile serialized: 1348 bytes, cookie size: 2744 bytes

Exactly, the behavior I expected.

Can you investigate on your side?

[2020-05-11 07:33] #330 closed

[2020-07-16 13:46] daddykotex opened #340 "PlayCookieSessionStore fails to deserialize a CodeVerifier"
Changes for PKCE from pull request #1630 introduce a problem. One of the problem was that a CodeVerifier was not serializable, but it has been fixed upstream. By forcing the version `"com.nimbusds:oauth2-oidc-sdk:8.11"`, the class cast exception to serialization is fixed.

But there is another problem a little bit further down the rabbit hole. The Oidc process and the introduction of PKCE saves a

[2020-07-18 07:55] leleuj commented on #340
It make sense. Please submit a PR to `pac4j`. Thx

[2020-07-20 13:56] #340 closed

[2020-07-20 14:29] daddykotex commented on #340
Thanks for your project

[2020-08-11 07:45] jonaskoelker-jypo opened #344 "DDOS susceptibility: stuck between a rock cookie and a cache hard place"
Hello Jerome.

I'm in a bit of a pickle: my OidcClient profiles are too large to store using the `PlayCookieSessionStore`, as much as I would like to. On the other hand, our site has a lot of visitors who don't log in so we need to store a large number of anonymous profiles. This is especially exacerbated when we're subjected to a distributed denial of service attack, by users who trigger the crea

[2020-08-12 08:15] leleuj commented on #344
Hi, please use the mailing list for questions: https://groups.google.com/forum/?fromgroups#!forum/pac4j-users

[2020-08-12 08:15] #344 closed

[2020-10-17 20:37] GBeushausen opened #357 "Jackson dependency issue"
I had play-pac4j working in a 2.6 app fine. Now i started a brand new project using 2.8.2. As soon as i add pac4j-http to the dependencies, i get the following error message:

com.fasterxml.jackson.databind.JsonMappingException: Scala module 2.10.3 requires Jackson Databind version >= 2.10.0 and < 2.11.0

It doesn't matter if i install the Jackson dependencies. I always receive this error message.

[2020-10-20 10:44] leleuj commented on #357
I think you should take a look at the mailing list: https://groups.google.com/g/pac4j-users/c/mVSlxxlY9kA/m/MSTvXy4SBwAJ

[2020-10-20 10:44] #357 closed

[2020-11-04 13:09] petahathub opened #362 "JavaSerializationHelper: invalid class exception"
Hi,

I have updated in Play framework 2.7. from play-pac4j 8.0.1 to 9.0.2 with pac4j-sql from 3.7. to 4.1. I use DbProfile with serialization: storageAttributes.put(SERIALIZED_PROFILE, javaSerializationHelper.serializeToBase64(profile)) in AbstractProfileService. Serialized profile is stored in database. It worked well.

But after update to 9.0.2 deserialization ends with exception:

[code]

There